<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.oversky.gurms.system.dao.SysConfirmDatalogDao">
    <resultMap id="BaseResultMap" type="org.oversky.gurms.system.entity.SysConfirmDatalog">
        <id column="logid" jdbcType="DECIMAL" property="logid" />
        <result column="unioncode" jdbcType="VARCHAR" property="unioncode" />
        <result column="confirmid" jdbcType="INTEGER" property="confirmid" />
        <result column="edittype" jdbcType="VARCHAR" property="edittype" />
        <result column="dataid" jdbcType="VARCHAR" property="dataid" />
        <result column="fulldata" jdbcType="VARCHAR" property="fulldata" />
        <result column="extdata" jdbcType="VARCHAR" property="extdata" />
        <result column="editer" jdbcType="DECIMAL" property="editer" />
        <result column="editdate" jdbcType="VARCHAR" property="editdate" />
        <result column="edittime" jdbcType="VARCHAR" property="edittime" />
        <result column="currentstatus" jdbcType="VARCHAR" property="currentstatus" />
        <result column="currentlevel" jdbcType="INTEGER" property="currentlevel" />
        <result column="endflag" jdbcType="VARCHAR" property="endflag" />
    </resultMap>

    <insert id="insert" parameterType="org.oversky.gurms.system.entity.SysConfirmDatalog" useGeneratedKeys="true" keyProperty="logid">
        insert into sys_confirm_datalog (unioncode, confirmid, edittype, dataid, fulldata, extdata, editer, editdate, edittime, currentstatus, currentlevel, endflag)
        values (#{unioncode, jdbcType=VARCHAR}, #{confirmid, jdbcType=INTEGER}, #{edittype, jdbcType=VARCHAR}, #{dataid, jdbcType=VARCHAR}, #{fulldata, jdbcType=VARCHAR}, #{extdata, jdbcType=VARCHAR}, #{editer, jdbcType=DECIMAL}, #{editdate, jdbcType=VARCHAR}, #{edittime, jdbcType=VARCHAR}, #{currentstatus, jdbcType=VARCHAR}, #{currentlevel, jdbcType=INTEGER}, #{endflag, jdbcType=VARCHAR})
    </insert>
  
	<insert id="insertBatch" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="logid">
		insert into sys_confirm_datalog (unioncode, confirmid, edittype, dataid, fulldata, extdata, editer, editdate, edittime, currentstatus, currentlevel, endflag)
		values 
		<foreach item="item" index="index" collection="list" separator=",">
        (#{item.unioncode, jdbcType=VARCHAR}, #{item.confirmid, jdbcType=INTEGER}, #{item.edittype, jdbcType=VARCHAR}, #{item.dataid, jdbcType=VARCHAR}, #{item.fulldata, jdbcType=VARCHAR}, #{item.extdata, jdbcType=VARCHAR}, #{item.editer, jdbcType=DECIMAL}, #{item.editdate, jdbcType=VARCHAR}, #{item.edittime, jdbcType=VARCHAR}, #{item.currentstatus, jdbcType=VARCHAR}, #{item.currentlevel, jdbcType=INTEGER}, #{item.endflag, jdbcType=VARCHAR})
		</foreach>
	</insert>
	
    <select id="selectWhere" parameterType="org.oversky.gurms.system.entity.SysConfirmDatalog" resultMap="BaseResultMap">
        select <include refid="column_list"><property name="tab" value=""/></include>
          from sys_confirm_datalog 
          <include refid="where_all_list" />
          <include refid="orderby_list" />
    </select>

    <delete id="deleteWhere" parameterType="org.oversky.gurms.system.entity.SysConfirmDatalog">
        delete from sys_confirm_datalog 
          <include refid="where_all_list" />
    </delete>

	<select id="count" resultType="int" parameterType="org.oversky.gurms.system.entity.SysConfirmDatalog">
        select count(1) from sys_confirm_datalog <include refid="where_all_list" />
	</select>

    <select id="selectAll" resultMap="BaseResultMap">
        select <include refid="column_list"><property name="tab" value=""/></include>
          from sys_confirm_datalog
          <include refid="orderby_list" />
    </select>

    <select id="getById" resultMap="BaseResultMap">
        select <include refid="column_list"><property name="tab" value=""/></include>
          from sys_confirm_datalog
         where logid = #{param1}
    </select>

    <delete id="deleteById">
        delete from sys_confirm_datalog
         where logid = #{param1}
    </delete>
  
    <update id="updateById" parameterType="org.oversky.gurms.system.entity.SysConfirmDatalog">
        update sys_confirm_datalog set 
               unioncode = #{unioncode, jdbcType=VARCHAR}, 
               confirmid = #{confirmid, jdbcType=INTEGER}, 
               edittype = #{edittype, jdbcType=VARCHAR}, 
               dataid = #{dataid, jdbcType=VARCHAR}, 
               fulldata = #{fulldata, jdbcType=VARCHAR}, 
               extdata = #{extdata, jdbcType=VARCHAR}, 
               editer = #{editer, jdbcType=DECIMAL}, 
               editdate = #{editdate, jdbcType=VARCHAR}, 
               edittime = #{edittime, jdbcType=VARCHAR}, 
               currentstatus = #{currentstatus, jdbcType=VARCHAR}, 
               currentlevel = #{currentlevel, jdbcType=INTEGER}, 
               endflag = #{endflag, jdbcType=VARCHAR}
		where logid = #{logid, jdbcType=DECIMAL}
    </update>

	<update id="dynamicUpdateById" parameterType="org.oversky.gurms.system.entity.SysConfirmDatalog">
		update sys_confirm_datalog
		<set>
		    <if test="unioncode != null">
				unioncode = #{unioncode, jdbcType=VARCHAR},
		    </if>
		    <if test="confirmid != null">
				confirmid = #{confirmid, jdbcType=INTEGER},
		    </if>
		    <if test="edittype != null">
				edittype = #{edittype, jdbcType=VARCHAR},
		    </if>
		    <if test="dataid != null">
				dataid = #{dataid, jdbcType=VARCHAR},
		    </if>
		    <if test="fulldata != null">
				fulldata = #{fulldata, jdbcType=VARCHAR},
		    </if>
		    <if test="extdata != null">
				extdata = #{extdata, jdbcType=VARCHAR},
		    </if>
		    <if test="editer != null">
				editer = #{editer, jdbcType=DECIMAL},
		    </if>
		    <if test="editdate != null">
				editdate = #{editdate, jdbcType=VARCHAR},
		    </if>
		    <if test="edittime != null">
				edittime = #{edittime, jdbcType=VARCHAR},
		    </if>
		    <if test="currentstatus != null">
				currentstatus = #{currentstatus, jdbcType=VARCHAR},
		    </if>
		    <if test="currentlevel != null">
				currentlevel = #{currentlevel, jdbcType=INTEGER},
		    </if>
		    <if test="endflag != null">
				endflag = #{endflag, jdbcType=VARCHAR},
		    </if>
		</set>
		where logid = #{logid, jdbcType=DECIMAL}
	</update>

	<update id="dynamicUpdateWhere" parameterType="map">
		update sys_confirm_datalog
		<set>
		    <if test="field.unioncode != null and field.unioncode != ''">
				unioncode = #{field.unioncode, jdbcType=VARCHAR},
		    </if>
		    <if test="field.confirmid != null">
				confirmid = #{field.confirmid, jdbcType=INTEGER},
		    </if>
		    <if test="field.edittype != null and field.edittype != ''">
				edittype = #{field.edittype, jdbcType=VARCHAR},
		    </if>
		    <if test="field.dataid != null and field.dataid != ''">
				dataid = #{field.dataid, jdbcType=VARCHAR},
		    </if>
		    <if test="field.fulldata != null and field.fulldata != ''">
				fulldata = #{field.fulldata, jdbcType=VARCHAR},
		    </if>
		    <if test="field.extdata != null and field.extdata != ''">
				extdata = #{field.extdata, jdbcType=VARCHAR},
		    </if>
		    <if test="field.editer != null">
				editer = #{field.editer, jdbcType=DECIMAL},
		    </if>
		    <if test="field.editdate != null and field.editdate != ''">
				editdate = #{field.editdate, jdbcType=VARCHAR},
		    </if>
		    <if test="field.edittime != null and field.edittime != ''">
				edittime = #{field.edittime, jdbcType=VARCHAR},
		    </if>
		    <if test="field.currentstatus != null and field.currentstatus != ''">
				currentstatus = #{field.currentstatus, jdbcType=VARCHAR},
		    </if>
		    <if test="field.currentlevel != null">
				currentlevel = #{field.currentlevel, jdbcType=INTEGER},
		    </if>
		    <if test="field.endflag != null and field.endflag != ''">
				endflag = #{field.endflag, jdbcType=VARCHAR},
		    </if>
		</set>
        <include refid="where_all_list_criteria" />
	</update>

	<update id="updateBatch" parameterType="java.util.List">
	    update sys_confirm_datalog
	    <trim prefix="set" suffixOverrides=",">	
	        <trim prefix="unioncode = case" suffix="end,">
	            <foreach collection="list" item="item" index="index">
	                <if test="item.unioncode != null">
	                    when logid = #{item.logid} then #{item.unioncode, jdbcType=VARCHAR}
	                </if>
	                <if test="item.unioncode == null">
	                    when logid = #{item.logid} then unioncode
	                </if>
	            </foreach>
	        </trim>
	        <trim prefix="confirmid = case" suffix="end,">
	            <foreach collection="list" item="item" index="index">
	                <if test="item.confirmid != null">
	                    when logid = #{item.logid} then #{item.confirmid, jdbcType=INTEGER}
	                </if>
	                <if test="item.confirmid == null">
	                    when logid = #{item.logid} then confirmid
	                </if>
	            </foreach>
	        </trim>
	        <trim prefix="edittype = case" suffix="end,">
	            <foreach collection="list" item="item" index="index">
	                <if test="item.edittype != null">
	                    when logid = #{item.logid} then #{item.edittype, jdbcType=VARCHAR}
	                </if>
	                <if test="item.edittype == null">
	                    when logid = #{item.logid} then edittype
	                </if>
	            </foreach>
	        </trim>
	        <trim prefix="dataid = case" suffix="end,">
	            <foreach collection="list" item="item" index="index">
	                <if test="item.dataid != null">
	                    when logid = #{item.logid} then #{item.dataid, jdbcType=VARCHAR}
	                </if>
	                <if test="item.dataid == null">
	                    when logid = #{item.logid} then dataid
	                </if>
	            </foreach>
	        </trim>
	        <trim prefix="fulldata = case" suffix="end,">
	            <foreach collection="list" item="item" index="index">
	                <if test="item.fulldata != null">
	                    when logid = #{item.logid} then #{item.fulldata, jdbcType=VARCHAR}
	                </if>
	                <if test="item.fulldata == null">
	                    when logid = #{item.logid} then fulldata
	                </if>
	            </foreach>
	        </trim>
	        <trim prefix="extdata = case" suffix="end,">
	            <foreach collection="list" item="item" index="index">
	                <if test="item.extdata != null">
	                    when logid = #{item.logid} then #{item.extdata, jdbcType=VARCHAR}
	                </if>
	                <if test="item.extdata == null">
	                    when logid = #{item.logid} then extdata
	                </if>
	            </foreach>
	        </trim>
	        <trim prefix="editer = case" suffix="end,">
	            <foreach collection="list" item="item" index="index">
	                <if test="item.editer != null">
	                    when logid = #{item.logid} then #{item.editer, jdbcType=DECIMAL}
	                </if>
	                <if test="item.editer == null">
	                    when logid = #{item.logid} then editer
	                </if>
	            </foreach>
	        </trim>
	        <trim prefix="editdate = case" suffix="end,">
	            <foreach collection="list" item="item" index="index">
	                <if test="item.editdate != null">
	                    when logid = #{item.logid} then #{item.editdate, jdbcType=VARCHAR}
	                </if>
	                <if test="item.editdate == null">
	                    when logid = #{item.logid} then editdate
	                </if>
	            </foreach>
	        </trim>
	        <trim prefix="edittime = case" suffix="end,">
	            <foreach collection="list" item="item" index="index">
	                <if test="item.edittime != null">
	                    when logid = #{item.logid} then #{item.edittime, jdbcType=VARCHAR}
	                </if>
	                <if test="item.edittime == null">
	                    when logid = #{item.logid} then edittime
	                </if>
	            </foreach>
	        </trim>
	        <trim prefix="currentstatus = case" suffix="end,">
	            <foreach collection="list" item="item" index="index">
	                <if test="item.currentstatus != null">
	                    when logid = #{item.logid} then #{item.currentstatus, jdbcType=VARCHAR}
	                </if>
	                <if test="item.currentstatus == null">
	                    when logid = #{item.logid} then currentstatus
	                </if>
	            </foreach>
	        </trim>
	        <trim prefix="currentlevel = case" suffix="end,">
	            <foreach collection="list" item="item" index="index">
	                <if test="item.currentlevel != null">
	                    when logid = #{item.logid} then #{item.currentlevel, jdbcType=INTEGER}
	                </if>
	                <if test="item.currentlevel == null">
	                    when logid = #{item.logid} then currentlevel
	                </if>
	            </foreach>
	        </trim>
	        <trim prefix="endflag = case" suffix="end,">
	            <foreach collection="list" item="item" index="index">
	                <if test="item.endflag != null">
	                    when logid = #{item.logid} then #{item.endflag, jdbcType=VARCHAR}
	                </if>
	                <if test="item.endflag == null">
	                    when logid = #{item.logid} then endflag
	                </if>
	            </foreach>
	        </trim>
	    </trim>
	    where logid in
	    <foreach collection="list" index="index" item="item" separator="," open="(" close=")">
	        #{item.logid}
	    </foreach>
	</update>
	
	<delete id="deleteBatch">
	    delete from sys_confirm_datalog
	     where logid in
	    <foreach collection="array" item="id" separator="," open="(" close=")">
	        #{id}
	    </foreach>
	</delete>

	<sql id="column_list">
        ${tab}logid, ${tab}unioncode, ${tab}confirmid, ${tab}edittype, ${tab}dataid, ${tab}fulldata, ${tab}extdata, ${tab}editer, ${tab}editdate, ${tab}edittime, ${tab}currentstatus, ${tab}currentlevel, ${tab}endflag
	</sql>
	
	<sql id="where_all_list">
		<where>
			<if test="logid != null">
				and logid = #{logid, jdbcType=DECIMAL}
			</if>
			<if test="unioncode != null and unioncode != ''">
				and unioncode = #{unioncode, jdbcType=VARCHAR}
			</if>
			<if test="confirmid != null">
				and confirmid = #{confirmid, jdbcType=INTEGER}
			</if>
			<if test="edittype != null and edittype != ''">
				and edittype = #{edittype, jdbcType=VARCHAR}
			</if>
			<if test="dataid != null and dataid != ''">
				and dataid = #{dataid, jdbcType=VARCHAR}
			</if>
			<if test="fulldata != null and fulldata != ''">
				and fulldata = #{fulldata, jdbcType=VARCHAR}
			</if>
			<if test="extdata != null and extdata != ''">
				and extdata = #{extdata, jdbcType=VARCHAR}
			</if>
			<if test="editer != null">
				and editer = #{editer, jdbcType=DECIMAL}
			</if>
			<if test="editdate != null and editdate != ''">
				and editdate = #{editdate, jdbcType=VARCHAR}
			</if>
			<if test="edittime != null and edittime != ''">
				and edittime = #{edittime, jdbcType=VARCHAR}
			</if>
			<if test="currentstatus != null and currentstatus != ''">
				and currentstatus = #{currentstatus, jdbcType=VARCHAR}
			</if>
			<if test="currentlevel != null">
				and currentlevel = #{currentlevel, jdbcType=INTEGER}
			</if>
			<if test="endflag != null and endflag != ''">
				and endflag = #{endflag, jdbcType=VARCHAR}
			</if>
		</where>
	</sql>

	<sql id="where_all_list_criteria">
		<where>
			<if test="condition.logid != null">
				and logid = #{condition.logid, jdbcType=DECIMAL}
			</if>
			<if test="condition.unioncode != null and condition.unioncode != ''">
				and unioncode = #{condition.unioncode, jdbcType=VARCHAR}
			</if>
			<if test="condition.confirmid != null">
				and confirmid = #{condition.confirmid, jdbcType=INTEGER}
			</if>
			<if test="condition.edittype != null and condition.edittype != ''">
				and edittype = #{condition.edittype, jdbcType=VARCHAR}
			</if>
			<if test="condition.dataid != null and condition.dataid != ''">
				and dataid = #{condition.dataid, jdbcType=VARCHAR}
			</if>
			<if test="condition.fulldata != null and condition.fulldata != ''">
				and fulldata = #{condition.fulldata, jdbcType=VARCHAR}
			</if>
			<if test="condition.extdata != null and condition.extdata != ''">
				and extdata = #{condition.extdata, jdbcType=VARCHAR}
			</if>
			<if test="condition.editer != null">
				and editer = #{condition.editer, jdbcType=DECIMAL}
			</if>
			<if test="condition.editdate != null and condition.editdate != ''">
				and editdate = #{condition.editdate, jdbcType=VARCHAR}
			</if>
			<if test="condition.edittime != null and condition.edittime != ''">
				and edittime = #{condition.edittime, jdbcType=VARCHAR}
			</if>
			<if test="condition.currentstatus != null and condition.currentstatus != ''">
				and currentstatus = #{condition.currentstatus, jdbcType=VARCHAR}
			</if>
			<if test="condition.currentlevel != null">
				and currentlevel = #{condition.currentlevel, jdbcType=INTEGER}
			</if>
			<if test="condition.endflag != null and condition.endflag != ''">
				and endflag = #{condition.endflag, jdbcType=VARCHAR}
			</if>
		</where>
	</sql>

	<sql id="orderby_list">
        <if test="orderByClause != null and orderByClause != ''">
            order by ${orderByClause}
        </if>
	</sql>
</mapper>