<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.oversky.gurms.system.dao.SysOrgDao">
    <resultMap id="BaseResultMap" type="org.oversky.gurms.system.entity.SysOrg">
        <id column="orgid" jdbcType="DECIMAL" property="orgid" />
        <result column="unioncode" jdbcType="VARCHAR" property="unioncode" />
        <result column="shortname" jdbcType="VARCHAR" property="shortname" />
        <result column="fullname" jdbcType="VARCHAR" property="fullname" />
        <result column="linkman" jdbcType="VARCHAR" property="linkman" />
        <result column="linktel" jdbcType="VARCHAR" property="linktel" />
        <result column="faxno" jdbcType="VARCHAR" property="faxno" />
        <result column="address" jdbcType="VARCHAR" property="address" />
        <result column="postcode" jdbcType="VARCHAR" property="postcode" />
        <result column="email" jdbcType="VARCHAR" property="email" />
        <result column="parentorg" jdbcType="DECIMAL" property="parentorg" />
        <result column="orgtype" jdbcType="VARCHAR" property="orgtype" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />
    </resultMap>

    <insert id="insert" parameterType="org.oversky.gurms.system.entity.SysOrg" useGeneratedKeys="true" keyProperty="orgid">
        insert into sys_org (unioncode, shortname, fullname, linkman, linktel, faxno, address, postcode, email, parentorg, orgtype, remark)
        values (#{unioncode, jdbcType=VARCHAR}, #{shortname, jdbcType=VARCHAR}, #{fullname, jdbcType=VARCHAR}, #{linkman, jdbcType=VARCHAR}, #{linktel, jdbcType=VARCHAR}, #{faxno, jdbcType=VARCHAR}, #{address, jdbcType=VARCHAR}, #{postcode, jdbcType=VARCHAR}, #{email, jdbcType=VARCHAR}, #{parentorg, jdbcType=DECIMAL}, #{orgtype, jdbcType=VARCHAR}, #{remark, jdbcType=VARCHAR})
    </insert>
  
	<insert id="insertBatch" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="orgid">
		insert into sys_org (unioncode, shortname, fullname, linkman, linktel, faxno, address, postcode, email, parentorg, orgtype, remark)
		values 
		<foreach item="item" index="index" collection="list" separator=",">
        (#{item.unioncode, jdbcType=VARCHAR}, #{item.shortname, jdbcType=VARCHAR}, #{item.fullname, jdbcType=VARCHAR}, #{item.linkman, jdbcType=VARCHAR}, #{item.linktel, jdbcType=VARCHAR}, #{item.faxno, jdbcType=VARCHAR}, #{item.address, jdbcType=VARCHAR}, #{item.postcode, jdbcType=VARCHAR}, #{item.email, jdbcType=VARCHAR}, #{item.parentorg, jdbcType=DECIMAL}, #{item.orgtype, jdbcType=VARCHAR}, #{item.remark, jdbcType=VARCHAR})
		</foreach>
	</insert>
	
    <select id="selectWhere" parameterType="org.oversky.gurms.system.entity.SysOrg" resultMap="BaseResultMap">
        select <include refid="column_list"><property name="tab" value=""/></include>
          from sys_org 
          <include refid="where_all_list" />
          <include refid="orderby_list" />
    </select>

    <delete id="deleteWhere" parameterType="org.oversky.gurms.system.entity.SysOrg">
        delete from sys_org 
          <include refid="where_all_list" />
    </delete>

	<select id="count" resultType="int" parameterType="org.oversky.gurms.system.entity.SysOrg">
        select count(1) from sys_org <include refid="where_all_list" />
	</select>

    <select id="selectAll" resultMap="BaseResultMap">
        select <include refid="column_list"><property name="tab" value=""/></include>
          from sys_org
          <include refid="orderby_list" />
    </select>

    <select id="getById" resultMap="BaseResultMap">
        select <include refid="column_list"><property name="tab" value=""/></include>
          from sys_org
         where orgid = #{param1}
    </select>

    <delete id="deleteById">
        delete from sys_org
         where orgid = #{param1}
    </delete>
  
    <update id="updateById" parameterType="org.oversky.gurms.system.entity.SysOrg">
        update sys_org set 
               unioncode = #{unioncode, jdbcType=VARCHAR}, 
               shortname = #{shortname, jdbcType=VARCHAR}, 
               fullname = #{fullname, jdbcType=VARCHAR}, 
               linkman = #{linkman, jdbcType=VARCHAR}, 
               linktel = #{linktel, jdbcType=VARCHAR}, 
               faxno = #{faxno, jdbcType=VARCHAR}, 
               address = #{address, jdbcType=VARCHAR}, 
               postcode = #{postcode, jdbcType=VARCHAR}, 
               email = #{email, jdbcType=VARCHAR}, 
               parentorg = #{parentorg, jdbcType=DECIMAL}, 
               orgtype = #{orgtype, jdbcType=VARCHAR}, 
               remark = #{remark, jdbcType=VARCHAR}
		where orgid = #{orgid, jdbcType=DECIMAL}
    </update>

	<update id="dynamicUpdateById" parameterType="org.oversky.gurms.system.entity.SysOrg">
		update sys_org
		<set>
		    <if test="unioncode != null">
				unioncode = #{unioncode, jdbcType=VARCHAR},
		    </if>
		    <if test="shortname != null">
				shortname = #{shortname, jdbcType=VARCHAR},
		    </if>
		    <if test="fullname != null">
				fullname = #{fullname, jdbcType=VARCHAR},
		    </if>
		    <if test="linkman != null">
				linkman = #{linkman, jdbcType=VARCHAR},
		    </if>
		    <if test="linktel != null">
				linktel = #{linktel, jdbcType=VARCHAR},
		    </if>
		    <if test="faxno != null">
				faxno = #{faxno, jdbcType=VARCHAR},
		    </if>
		    <if test="address != null">
				address = #{address, jdbcType=VARCHAR},
		    </if>
		    <if test="postcode != null">
				postcode = #{postcode, jdbcType=VARCHAR},
		    </if>
		    <if test="email != null">
				email = #{email, jdbcType=VARCHAR},
		    </if>
		    <if test="parentorg != null">
				parentorg = #{parentorg, jdbcType=DECIMAL},
		    </if>
		    <if test="orgtype != null">
				orgtype = #{orgtype, jdbcType=VARCHAR},
		    </if>
		    <if test="remark != null">
				remark = #{remark, jdbcType=VARCHAR},
		    </if>
		</set>
		where orgid = #{orgid, jdbcType=DECIMAL}
	</update>

	<update id="updateBatch" parameterType="java.util.List">
	    update sys_org
	    <trim prefix="set" suffixOverrides=",">	
	        <trim prefix="unioncode = case" suffix="end,">
	            <foreach collection="list" item="item" index="index">
	                <if test="item.unioncode != null">
	                    when orgid = #{item.orgid} then #{item.unioncode, jdbcType=VARCHAR}
	                </if>
	                <if test="item.unioncode == null">
	                    when orgid = #{item.orgid} then unioncode
	                </if>
	            </foreach>
	        </trim>
	        <trim prefix="shortname = case" suffix="end,">
	            <foreach collection="list" item="item" index="index">
	                <if test="item.shortname != null">
	                    when orgid = #{item.orgid} then #{item.shortname, jdbcType=VARCHAR}
	                </if>
	                <if test="item.shortname == null">
	                    when orgid = #{item.orgid} then shortname
	                </if>
	            </foreach>
	        </trim>
	        <trim prefix="fullname = case" suffix="end,">
	            <foreach collection="list" item="item" index="index">
	                <if test="item.fullname != null">
	                    when orgid = #{item.orgid} then #{item.fullname, jdbcType=VARCHAR}
	                </if>
	                <if test="item.fullname == null">
	                    when orgid = #{item.orgid} then fullname
	                </if>
	            </foreach>
	        </trim>
	        <trim prefix="linkman = case" suffix="end,">
	            <foreach collection="list" item="item" index="index">
	                <if test="item.linkman != null">
	                    when orgid = #{item.orgid} then #{item.linkman, jdbcType=VARCHAR}
	                </if>
	                <if test="item.linkman == null">
	                    when orgid = #{item.orgid} then linkman
	                </if>
	            </foreach>
	        </trim>
	        <trim prefix="linktel = case" suffix="end,">
	            <foreach collection="list" item="item" index="index">
	                <if test="item.linktel != null">
	                    when orgid = #{item.orgid} then #{item.linktel, jdbcType=VARCHAR}
	                </if>
	                <if test="item.linktel == null">
	                    when orgid = #{item.orgid} then linktel
	                </if>
	            </foreach>
	        </trim>
	        <trim prefix="faxno = case" suffix="end,">
	            <foreach collection="list" item="item" index="index">
	                <if test="item.faxno != null">
	                    when orgid = #{item.orgid} then #{item.faxno, jdbcType=VARCHAR}
	                </if>
	                <if test="item.faxno == null">
	                    when orgid = #{item.orgid} then faxno
	                </if>
	            </foreach>
	        </trim>
	        <trim prefix="address = case" suffix="end,">
	            <foreach collection="list" item="item" index="index">
	                <if test="item.address != null">
	                    when orgid = #{item.orgid} then #{item.address, jdbcType=VARCHAR}
	                </if>
	                <if test="item.address == null">
	                    when orgid = #{item.orgid} then address
	                </if>
	            </foreach>
	        </trim>
	        <trim prefix="postcode = case" suffix="end,">
	            <foreach collection="list" item="item" index="index">
	                <if test="item.postcode != null">
	                    when orgid = #{item.orgid} then #{item.postcode, jdbcType=VARCHAR}
	                </if>
	                <if test="item.postcode == null">
	                    when orgid = #{item.orgid} then postcode
	                </if>
	            </foreach>
	        </trim>
	        <trim prefix="email = case" suffix="end,">
	            <foreach collection="list" item="item" index="index">
	                <if test="item.email != null">
	                    when orgid = #{item.orgid} then #{item.email, jdbcType=VARCHAR}
	                </if>
	                <if test="item.email == null">
	                    when orgid = #{item.orgid} then email
	                </if>
	            </foreach>
	        </trim>
	        <trim prefix="parentorg = case" suffix="end,">
	            <foreach collection="list" item="item" index="index">
	                <if test="item.parentorg != null">
	                    when orgid = #{item.orgid} then #{item.parentorg, jdbcType=DECIMAL}
	                </if>
	                <if test="item.parentorg == null">
	                    when orgid = #{item.orgid} then parentorg
	                </if>
	            </foreach>
	        </trim>
	        <trim prefix="orgtype = case" suffix="end,">
	            <foreach collection="list" item="item" index="index">
	                <if test="item.orgtype != null">
	                    when orgid = #{item.orgid} then #{item.orgtype, jdbcType=VARCHAR}
	                </if>
	                <if test="item.orgtype == null">
	                    when orgid = #{item.orgid} then orgtype
	                </if>
	            </foreach>
	        </trim>
	        <trim prefix="remark = case" suffix="end,">
	            <foreach collection="list" item="item" index="index">
	                <if test="item.remark != null">
	                    when orgid = #{item.orgid} then #{item.remark, jdbcType=VARCHAR}
	                </if>
	                <if test="item.remark == null">
	                    when orgid = #{item.orgid} then remark
	                </if>
	            </foreach>
	        </trim>
	    </trim>
	    where orgid in
	    <foreach collection="list" index="index" item="item" separator="," open="(" close=")">
	        #{item.orgid}
	    </foreach>
	</update>
	
	<delete id="deleteBatch">
	    delete from sys_org
	     where orgid in
	    <foreach collection="array" item="id" separator="," open="(" close=")">
	        #{id}
	    </foreach>
	</delete>

	<sql id="column_list">
        ${tab}orgid, ${tab}unioncode, ${tab}shortname, ${tab}fullname, ${tab}linkman, ${tab}linktel, ${tab}faxno, ${tab}address, ${tab}postcode, ${tab}email, ${tab}parentorg, ${tab}orgtype, ${tab}remark
	</sql>
	
	<sql id="where_all_list">
		<where>
			<if test="orgid != null">
				and orgid = #{orgid, jdbcType=DECIMAL}
			</if>
			<if test="unioncode != null and unioncode != ''">
				and unioncode = #{unioncode, jdbcType=VARCHAR}
			</if>
			<if test="shortname != null and shortname != ''">
				and shortname = #{shortname, jdbcType=VARCHAR}
			</if>
			<if test="fullname != null and fullname != ''">
				and fullname = #{fullname, jdbcType=VARCHAR}
			</if>
			<if test="linkman != null and linkman != ''">
				and linkman = #{linkman, jdbcType=VARCHAR}
			</if>
			<if test="linktel != null and linktel != ''">
				and linktel = #{linktel, jdbcType=VARCHAR}
			</if>
			<if test="faxno != null and faxno != ''">
				and faxno = #{faxno, jdbcType=VARCHAR}
			</if>
			<if test="address != null and address != ''">
				and address = #{address, jdbcType=VARCHAR}
			</if>
			<if test="postcode != null and postcode != ''">
				and postcode = #{postcode, jdbcType=VARCHAR}
			</if>
			<if test="email != null and email != ''">
				and email = #{email, jdbcType=VARCHAR}
			</if>
			<if test="parentorg != null">
				and parentorg = #{parentorg, jdbcType=DECIMAL}
			</if>
			<if test="orgtype != null and orgtype != ''">
				and orgtype = #{orgtype, jdbcType=VARCHAR}
			</if>
			<if test="remark != null and remark != ''">
				and remark = #{remark, jdbcType=VARCHAR}
			</if>
		</where>
	</sql>

	<sql id="orderby_list">
        <if test="orderByClause != null and orderByClause != ''">
            order by ${orderByClause}
        </if>
	</sql>
</mapper>