<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.oversky.gurms.system.dao.SysSnoDao">
    <resultMap id="BaseResultMap" type="org.oversky.gurms.system.entity.SysSno">
        <id column="unioncode" jdbcType="VARCHAR" property="unioncode" />
        <id column="noid" jdbcType="INTEGER" property="noid" />
        <result column="noname" jdbcType="VARCHAR" property="noname" />
        <result column="initvalue" jdbcType="DECIMAL" property="initvalue" />
        <result column="nextvalue" jdbcType="DECIMAL" property="nextvalue" />
        <result column="fixedflag" jdbcType="VARCHAR" property="fixedflag" />
        <result column="fixedlength" jdbcType="INTEGER" property="fixedlength" />
        <result column="fillchar" jdbcType="VARCHAR" property="fillchar" />
        <result column="notype" jdbcType="VARCHAR" property="notype" />
        <result column="cycletype" jdbcType="VARCHAR" property="cycletype" />
        <result column="cycledate" jdbcType="VARCHAR" property="cycledate" />
        <result column="endvalue" jdbcType="DECIMAL" property="endvalue" />
        <result column="prefix" jdbcType="VARCHAR" property="prefix" />
        <result column="suffix" jdbcType="VARCHAR" property="suffix" />
    </resultMap>

    <insert id="insert" parameterType="org.oversky.gurms.system.entity.SysSno">
        insert into sys_sno (<include refid="column_list"><property name="tab" value=""/></include>)
        values (#{unioncode, jdbcType=VARCHAR}, #{noid, jdbcType=INTEGER}, #{noname, jdbcType=VARCHAR}, #{initvalue, jdbcType=DECIMAL}, #{nextvalue, jdbcType=DECIMAL}, #{fixedflag, jdbcType=VARCHAR}, #{fixedlength, jdbcType=INTEGER}, #{fillchar, jdbcType=VARCHAR}, #{notype, jdbcType=VARCHAR}, #{cycletype, jdbcType=VARCHAR}, #{cycledate, jdbcType=VARCHAR}, #{endvalue, jdbcType=DECIMAL}, #{prefix, jdbcType=VARCHAR}, #{suffix, jdbcType=VARCHAR})
    </insert>
  
	<insert id="insertBatch" parameterType="java.util.List" useGeneratedKeys="false">
		insert into sys_sno (<include refid="column_list"><property name="tab" value=""/></include>) 
		values 
		<foreach item="item" index="index" collection="list" separator=",">
		(#{item.unioncode, jdbcType=VARCHAR}, #{item.noid, jdbcType=INTEGER}, #{item.noname, jdbcType=VARCHAR}, #{item.initvalue, jdbcType=DECIMAL}, #{item.nextvalue, jdbcType=DECIMAL}, #{item.fixedflag, jdbcType=VARCHAR}, #{item.fixedlength, jdbcType=INTEGER}, #{item.fillchar, jdbcType=VARCHAR}, #{item.notype, jdbcType=VARCHAR}, #{item.cycletype, jdbcType=VARCHAR}, #{item.cycledate, jdbcType=VARCHAR}, #{item.endvalue, jdbcType=DECIMAL}, #{item.prefix, jdbcType=VARCHAR}, #{item.suffix, jdbcType=VARCHAR})
		</foreach>
	</insert>
	
    <select id="selectWhere" parameterType="org.oversky.gurms.system.entity.SysSno" resultMap="BaseResultMap">
        select <include refid="column_list"><property name="tab" value=""/></include>
          from sys_sno 
          <include refid="where_all_list" />
          <include refid="orderby_list" />
    </select>

    <delete id="deleteWhere" parameterType="org.oversky.gurms.system.entity.SysSno">
        delete from sys_sno 
          <include refid="where_all_list" />
    </delete>

	<select id="count" resultType="int" parameterType="org.oversky.gurms.system.entity.SysSno">
        select count(1) from sys_sno <include refid="where_all_list" />
	</select>

    <select id="selectAll" resultMap="BaseResultMap">
        select <include refid="column_list"><property name="tab" value=""/></include>
          from sys_sno
          <include refid="orderby_list" />
    </select>

    <select id="getById" resultMap="BaseResultMap">
        select <include refid="column_list"><property name="tab" value=""/></include>
          from sys_sno
         where unioncode = #{param1} and noid = #{param2}
    </select>

    <delete id="deleteById">
        delete from sys_sno
         where unioncode = #{param1} and noid = #{param2}
    </delete>
  
    <update id="updateById" parameterType="org.oversky.gurms.system.entity.SysSno">
        update sys_sno set 
               noname = #{noname, jdbcType=VARCHAR}, 
               initvalue = #{initvalue, jdbcType=DECIMAL}, 
               nextvalue = #{nextvalue, jdbcType=DECIMAL}, 
               fixedflag = #{fixedflag, jdbcType=VARCHAR}, 
               fixedlength = #{fixedlength, jdbcType=INTEGER}, 
               fillchar = #{fillchar, jdbcType=VARCHAR}, 
               notype = #{notype, jdbcType=VARCHAR}, 
               cycletype = #{cycletype, jdbcType=VARCHAR}, 
               cycledate = #{cycledate, jdbcType=VARCHAR}, 
               endvalue = #{endvalue, jdbcType=DECIMAL}, 
               prefix = #{prefix, jdbcType=VARCHAR}, 
               suffix = #{suffix, jdbcType=VARCHAR}
		where unioncode = #{unioncode, jdbcType=VARCHAR} and noid = #{noid, jdbcType=INTEGER}
    </update>

	<update id="dynamicUpdateById" parameterType="org.oversky.gurms.system.entity.SysSno">
		update sys_sno
		<set>
		    <if test="noname != null">
				noname = #{noname, jdbcType=VARCHAR},
		    </if>
		    <if test="initvalue != null">
				initvalue = #{initvalue, jdbcType=DECIMAL},
		    </if>
		    <if test="nextvalue != null">
				nextvalue = #{nextvalue, jdbcType=DECIMAL},
		    </if>
		    <if test="fixedflag != null">
				fixedflag = #{fixedflag, jdbcType=VARCHAR},
		    </if>
		    <if test="fixedlength != null">
				fixedlength = #{fixedlength, jdbcType=INTEGER},
		    </if>
		    <if test="fillchar != null">
				fillchar = #{fillchar, jdbcType=VARCHAR},
		    </if>
		    <if test="notype != null">
				notype = #{notype, jdbcType=VARCHAR},
		    </if>
		    <if test="cycletype != null">
				cycletype = #{cycletype, jdbcType=VARCHAR},
		    </if>
		    <if test="cycledate != null">
				cycledate = #{cycledate, jdbcType=VARCHAR},
		    </if>
		    <if test="endvalue != null">
				endvalue = #{endvalue, jdbcType=DECIMAL},
		    </if>
		    <if test="prefix != null">
				prefix = #{prefix, jdbcType=VARCHAR},
		    </if>
		    <if test="suffix != null">
				suffix = #{suffix, jdbcType=VARCHAR},
		    </if>
		</set>
		where unioncode = #{unioncode, jdbcType=VARCHAR} and noid = #{noid, jdbcType=INTEGER}
	</update>

	<update id="dynamicUpdateWhere" parameterType="map">
		update sys_sno
		<set>
		    <if test="field.noname != null and field.noname != ''">
				noname = #{field.noname, jdbcType=VARCHAR},
		    </if>
		    <if test="field.initvalue != null">
				initvalue = #{field.initvalue, jdbcType=DECIMAL},
		    </if>
		    <if test="field.nextvalue != null">
				nextvalue = #{field.nextvalue, jdbcType=DECIMAL},
		    </if>
		    <if test="field.fixedflag != null and field.fixedflag != ''">
				fixedflag = #{field.fixedflag, jdbcType=VARCHAR},
		    </if>
		    <if test="field.fixedlength != null">
				fixedlength = #{field.fixedlength, jdbcType=INTEGER},
		    </if>
		    <if test="field.fillchar != null and field.fillchar != ''">
				fillchar = #{field.fillchar, jdbcType=VARCHAR},
		    </if>
		    <if test="field.notype != null and field.notype != ''">
				notype = #{field.notype, jdbcType=VARCHAR},
		    </if>
		    <if test="field.cycletype != null and field.cycletype != ''">
				cycletype = #{field.cycletype, jdbcType=VARCHAR},
		    </if>
		    <if test="field.cycledate != null and field.cycledate != ''">
				cycledate = #{field.cycledate, jdbcType=VARCHAR},
		    </if>
		    <if test="field.endvalue != null">
				endvalue = #{field.endvalue, jdbcType=DECIMAL},
		    </if>
		    <if test="field.prefix != null and field.prefix != ''">
				prefix = #{field.prefix, jdbcType=VARCHAR},
		    </if>
		    <if test="field.suffix != null and field.suffix != ''">
				suffix = #{field.suffix, jdbcType=VARCHAR},
		    </if>
		</set>
        <include refid="where_all_list_criteria" />
	</update>


	<sql id="column_list">
        ${tab}unioncode, ${tab}noid, ${tab}noname, ${tab}initvalue, ${tab}nextvalue, ${tab}fixedflag, ${tab}fixedlength, ${tab}fillchar, ${tab}notype, ${tab}cycletype, ${tab}cycledate, ${tab}endvalue, ${tab}prefix, ${tab}suffix
	</sql>
	
	<sql id="where_all_list">
		<where>
			<if test="unioncode != null and unioncode != ''">
				and unioncode = #{unioncode, jdbcType=VARCHAR}
			</if>
			<if test="noid != null">
				and noid = #{noid, jdbcType=INTEGER}
			</if>
			<if test="noname != null and noname != ''">
				and noname = #{noname, jdbcType=VARCHAR}
			</if>
			<if test="initvalue != null">
				and initvalue = #{initvalue, jdbcType=DECIMAL}
			</if>
			<if test="nextvalue != null">
				and nextvalue = #{nextvalue, jdbcType=DECIMAL}
			</if>
			<if test="fixedflag != null and fixedflag != ''">
				and fixedflag = #{fixedflag, jdbcType=VARCHAR}
			</if>
			<if test="fixedlength != null">
				and fixedlength = #{fixedlength, jdbcType=INTEGER}
			</if>
			<if test="fillchar != null and fillchar != ''">
				and fillchar = #{fillchar, jdbcType=VARCHAR}
			</if>
			<if test="notype != null and notype != ''">
				and notype = #{notype, jdbcType=VARCHAR}
			</if>
			<if test="cycletype != null and cycletype != ''">
				and cycletype = #{cycletype, jdbcType=VARCHAR}
			</if>
			<if test="cycledate != null and cycledate != ''">
				and cycledate = #{cycledate, jdbcType=VARCHAR}
			</if>
			<if test="endvalue != null">
				and endvalue = #{endvalue, jdbcType=DECIMAL}
			</if>
			<if test="prefix != null and prefix != ''">
				and prefix = #{prefix, jdbcType=VARCHAR}
			</if>
			<if test="suffix != null and suffix != ''">
				and suffix = #{suffix, jdbcType=VARCHAR}
			</if>
		</where>
	</sql>

	<sql id="where_all_list_criteria">
		<where>
			<if test="condition.unioncode != null and condition.unioncode != ''">
				and unioncode = #{condition.unioncode, jdbcType=VARCHAR}
			</if>
			<if test="condition.noid != null">
				and noid = #{condition.noid, jdbcType=INTEGER}
			</if>
			<if test="condition.noname != null and condition.noname != ''">
				and noname = #{condition.noname, jdbcType=VARCHAR}
			</if>
			<if test="condition.initvalue != null">
				and initvalue = #{condition.initvalue, jdbcType=DECIMAL}
			</if>
			<if test="condition.nextvalue != null">
				and nextvalue = #{condition.nextvalue, jdbcType=DECIMAL}
			</if>
			<if test="condition.fixedflag != null and condition.fixedflag != ''">
				and fixedflag = #{condition.fixedflag, jdbcType=VARCHAR}
			</if>
			<if test="condition.fixedlength != null">
				and fixedlength = #{condition.fixedlength, jdbcType=INTEGER}
			</if>
			<if test="condition.fillchar != null and condition.fillchar != ''">
				and fillchar = #{condition.fillchar, jdbcType=VARCHAR}
			</if>
			<if test="condition.notype != null and condition.notype != ''">
				and notype = #{condition.notype, jdbcType=VARCHAR}
			</if>
			<if test="condition.cycletype != null and condition.cycletype != ''">
				and cycletype = #{condition.cycletype, jdbcType=VARCHAR}
			</if>
			<if test="condition.cycledate != null and condition.cycledate != ''">
				and cycledate = #{condition.cycledate, jdbcType=VARCHAR}
			</if>
			<if test="condition.endvalue != null">
				and endvalue = #{condition.endvalue, jdbcType=DECIMAL}
			</if>
			<if test="condition.prefix != null and condition.prefix != ''">
				and prefix = #{condition.prefix, jdbcType=VARCHAR}
			</if>
			<if test="condition.suffix != null and condition.suffix != ''">
				and suffix = #{condition.suffix, jdbcType=VARCHAR}
			</if>
		</where>
	</sql>

	<sql id="orderby_list">
        <if test="orderByClause != null and orderByClause != ''">
            order by ${orderByClause}
        </if>
	</sql>
</mapper>