<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.oversky.dreamland.dao.cust.CustInfoDao">
    <resultMap id="BaseResultMap" type="org.oversky.dreamland.entity.cust.CustInfo">
        <id column="custno" jdbcType="DECIMAL" property="custno" />
        <result column="unioncode" jdbcType="VARCHAR" property="unioncode" />
        <result column="custname" jdbcType="VARCHAR" property="custname" />
        <result column="custtype" jdbcType="VARCHAR" property="custtype" />
        <result column="loginid" jdbcType="VARCHAR" property="loginid" />
        <result column="loginpasswd" jdbcType="VARCHAR" property="loginpasswd" />
        <result column="salt" jdbcType="VARCHAR" property="salt" />
        <result column="passwdvaliddate" jdbcType="VARCHAR" property="passwdvaliddate" />
        <result column="mobileno" jdbcType="VARCHAR" property="mobileno" />
        <result column="email" jdbcType="VARCHAR" property="email" />
        <result column="custlevel" jdbcType="VARCHAR" property="custlevel" />
        <result column="idtype" jdbcType="VARCHAR" property="idtype" />
        <result column="idcode" jdbcType="VARCHAR" property="idcode" />
        <result column="idname" jdbcType="VARCHAR" property="idname" />
        <result column="lastlogindate" jdbcType="VARCHAR" property="lastlogindate" />
        <result column="lastlogintime" jdbcType="VARCHAR" property="lastlogintime" />
        <result column="status" jdbcType="VARCHAR" property="status" />
        <result column="loginerror" jdbcType="INTEGER" property="loginerror" />
        <result column="regdate" jdbcType="VARCHAR" property="regdate" />
        <result column="canceldate" jdbcType="VARCHAR" property="canceldate" />
    </resultMap>

    <insert id="insert" parameterType="org.oversky.dreamland.entity.cust.CustInfo" useGeneratedKeys="true" keyProperty="custno">
        insert into cust_info (unioncode, custname, custtype, loginid, loginpasswd, salt, passwdvaliddate, mobileno, email, custlevel, idtype, idcode, idname, lastlogindate, lastlogintime, status, loginerror, regdate, canceldate)
        values (#{unioncode, jdbcType=VARCHAR}, #{custname, jdbcType=VARCHAR}, #{custtype, jdbcType=VARCHAR}, #{loginid, jdbcType=VARCHAR}, #{loginpasswd, jdbcType=VARCHAR}, #{salt, jdbcType=VARCHAR}, #{passwdvaliddate, jdbcType=VARCHAR}, #{mobileno, jdbcType=VARCHAR}, #{email, jdbcType=VARCHAR}, #{custlevel, jdbcType=VARCHAR}, #{idtype, jdbcType=VARCHAR}, #{idcode, jdbcType=VARCHAR}, #{idname, jdbcType=VARCHAR}, #{lastlogindate, jdbcType=VARCHAR}, #{lastlogintime, jdbcType=VARCHAR}, #{status, jdbcType=VARCHAR}, #{loginerror, jdbcType=INTEGER}, #{regdate, jdbcType=VARCHAR}, #{canceldate, jdbcType=VARCHAR})
    </insert>
  
	<insert id="insertBatch" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="custno">
		insert into cust_info (unioncode, custname, custtype, loginid, loginpasswd, salt, passwdvaliddate, mobileno, email, custlevel, idtype, idcode, idname, lastlogindate, lastlogintime, status, loginerror, regdate, canceldate)
		values 
		<foreach item="item" index="index" collection="list" separator=",">
        (#{item.unioncode, jdbcType=VARCHAR}, #{item.custname, jdbcType=VARCHAR}, #{item.custtype, jdbcType=VARCHAR}, #{item.loginid, jdbcType=VARCHAR}, #{item.loginpasswd, jdbcType=VARCHAR}, #{item.salt, jdbcType=VARCHAR}, #{item.passwdvaliddate, jdbcType=VARCHAR}, #{item.mobileno, jdbcType=VARCHAR}, #{item.email, jdbcType=VARCHAR}, #{item.custlevel, jdbcType=VARCHAR}, #{item.idtype, jdbcType=VARCHAR}, #{item.idcode, jdbcType=VARCHAR}, #{item.idname, jdbcType=VARCHAR}, #{item.lastlogindate, jdbcType=VARCHAR}, #{item.lastlogintime, jdbcType=VARCHAR}, #{item.status, jdbcType=VARCHAR}, #{item.loginerror, jdbcType=INTEGER}, #{item.regdate, jdbcType=VARCHAR}, #{item.canceldate, jdbcType=VARCHAR})
		</foreach>
	</insert>
	
    <select id="selectWhere" parameterType="org.oversky.dreamland.entity.cust.CustInfo" resultMap="BaseResultMap">
        select <include refid="column_list"><property name="tab" value=""/></include>
          from cust_info 
          <include refid="where_all_list" />
          <include refid="orderby_list" />
    </select>

    <delete id="deleteWhere" parameterType="org.oversky.dreamland.entity.cust.CustInfo">
        delete from cust_info 
          <include refid="where_all_list" />
    </delete>

	<select id="count" resultType="int" parameterType="org.oversky.dreamland.entity.cust.CustInfo">
        select count(1) from cust_info <include refid="where_all_list" />
	</select>

    <select id="selectAll" resultMap="BaseResultMap">
        select <include refid="column_list"><property name="tab" value=""/></include>
          from cust_info
          <include refid="orderby_list" />
    </select>

    <select id="getById" resultMap="BaseResultMap">
        select <include refid="column_list"><property name="tab" value=""/></include>
          from cust_info
         where custno = #{param1}
    </select>

    <delete id="deleteById">
        delete from cust_info
         where custno = #{param1}
    </delete>
  
    <update id="updateById" parameterType="org.oversky.dreamland.entity.cust.CustInfo">
        update cust_info set 
               unioncode = #{unioncode, jdbcType=VARCHAR}, 
               custname = #{custname, jdbcType=VARCHAR}, 
               custtype = #{custtype, jdbcType=VARCHAR}, 
               loginid = #{loginid, jdbcType=VARCHAR}, 
               loginpasswd = #{loginpasswd, jdbcType=VARCHAR}, 
               salt = #{salt, jdbcType=VARCHAR}, 
               passwdvaliddate = #{passwdvaliddate, jdbcType=VARCHAR}, 
               mobileno = #{mobileno, jdbcType=VARCHAR}, 
               email = #{email, jdbcType=VARCHAR}, 
               custlevel = #{custlevel, jdbcType=VARCHAR}, 
               idtype = #{idtype, jdbcType=VARCHAR}, 
               idcode = #{idcode, jdbcType=VARCHAR}, 
               idname = #{idname, jdbcType=VARCHAR}, 
               lastlogindate = #{lastlogindate, jdbcType=VARCHAR}, 
               lastlogintime = #{lastlogintime, jdbcType=VARCHAR}, 
               status = #{status, jdbcType=VARCHAR}, 
               loginerror = #{loginerror, jdbcType=INTEGER}, 
               regdate = #{regdate, jdbcType=VARCHAR}, 
               canceldate = #{canceldate, jdbcType=VARCHAR}
		where custno = #{custno, jdbcType=DECIMAL}
    </update>

	<update id="dynamicUpdateById" parameterType="org.oversky.dreamland.entity.cust.CustInfo">
		update cust_info
		<set>
		    <if test="unioncode != null">
				unioncode = #{unioncode, jdbcType=VARCHAR},
		    </if>
		    <if test="custname != null">
				custname = #{custname, jdbcType=VARCHAR},
		    </if>
		    <if test="custtype != null">
				custtype = #{custtype, jdbcType=VARCHAR},
		    </if>
		    <if test="loginid != null">
				loginid = #{loginid, jdbcType=VARCHAR},
		    </if>
		    <if test="loginpasswd != null">
				loginpasswd = #{loginpasswd, jdbcType=VARCHAR},
		    </if>
		    <if test="salt != null">
				salt = #{salt, jdbcType=VARCHAR},
		    </if>
		    <if test="passwdvaliddate != null">
				passwdvaliddate = #{passwdvaliddate, jdbcType=VARCHAR},
		    </if>
		    <if test="mobileno != null">
				mobileno = #{mobileno, jdbcType=VARCHAR},
		    </if>
		    <if test="email != null">
				email = #{email, jdbcType=VARCHAR},
		    </if>
		    <if test="custlevel != null">
				custlevel = #{custlevel, jdbcType=VARCHAR},
		    </if>
		    <if test="idtype != null">
				idtype = #{idtype, jdbcType=VARCHAR},
		    </if>
		    <if test="idcode != null">
				idcode = #{idcode, jdbcType=VARCHAR},
		    </if>
		    <if test="idname != null">
				idname = #{idname, jdbcType=VARCHAR},
		    </if>
		    <if test="lastlogindate != null">
				lastlogindate = #{lastlogindate, jdbcType=VARCHAR},
		    </if>
		    <if test="lastlogintime != null">
				lastlogintime = #{lastlogintime, jdbcType=VARCHAR},
		    </if>
		    <if test="status != null">
				status = #{status, jdbcType=VARCHAR},
		    </if>
		    <if test="loginerror != null">
				loginerror = #{loginerror, jdbcType=INTEGER},
		    </if>
		    <if test="regdate != null">
				regdate = #{regdate, jdbcType=VARCHAR},
		    </if>
		    <if test="canceldate != null">
				canceldate = #{canceldate, jdbcType=VARCHAR},
		    </if>
		</set>
		where custno = #{custno, jdbcType=DECIMAL}
	</update>

	<update id="dynamicUpdateWhere" parameterType="map">
		update cust_info
		<set>
		    <if test="field.unioncode != null and field.unioncode != ''">
				unioncode = #{field.unioncode, jdbcType=VARCHAR},
		    </if>
		    <if test="field.custname != null and field.custname != ''">
				custname = #{field.custname, jdbcType=VARCHAR},
		    </if>
		    <if test="field.custtype != null and field.custtype != ''">
				custtype = #{field.custtype, jdbcType=VARCHAR},
		    </if>
		    <if test="field.loginid != null and field.loginid != ''">
				loginid = #{field.loginid, jdbcType=VARCHAR},
		    </if>
		    <if test="field.loginpasswd != null and field.loginpasswd != ''">
				loginpasswd = #{field.loginpasswd, jdbcType=VARCHAR},
		    </if>
		    <if test="field.salt != null and field.salt != ''">
				salt = #{field.salt, jdbcType=VARCHAR},
		    </if>
		    <if test="field.passwdvaliddate != null and field.passwdvaliddate != ''">
				passwdvaliddate = #{field.passwdvaliddate, jdbcType=VARCHAR},
		    </if>
		    <if test="field.mobileno != null and field.mobileno != ''">
				mobileno = #{field.mobileno, jdbcType=VARCHAR},
		    </if>
		    <if test="field.email != null and field.email != ''">
				email = #{field.email, jdbcType=VARCHAR},
		    </if>
		    <if test="field.custlevel != null and field.custlevel != ''">
				custlevel = #{field.custlevel, jdbcType=VARCHAR},
		    </if>
		    <if test="field.idtype != null and field.idtype != ''">
				idtype = #{field.idtype, jdbcType=VARCHAR},
		    </if>
		    <if test="field.idcode != null and field.idcode != ''">
				idcode = #{field.idcode, jdbcType=VARCHAR},
		    </if>
		    <if test="field.idname != null and field.idname != ''">
				idname = #{field.idname, jdbcType=VARCHAR},
		    </if>
		    <if test="field.lastlogindate != null and field.lastlogindate != ''">
				lastlogindate = #{field.lastlogindate, jdbcType=VARCHAR},
		    </if>
		    <if test="field.lastlogintime != null and field.lastlogintime != ''">
				lastlogintime = #{field.lastlogintime, jdbcType=VARCHAR},
		    </if>
		    <if test="field.status != null and field.status != ''">
				status = #{field.status, jdbcType=VARCHAR},
		    </if>
		    <if test="field.loginerror != null">
				loginerror = #{field.loginerror, jdbcType=INTEGER},
		    </if>
		    <if test="field.regdate != null and field.regdate != ''">
				regdate = #{field.regdate, jdbcType=VARCHAR},
		    </if>
		    <if test="field.canceldate != null and field.canceldate != ''">
				canceldate = #{field.canceldate, jdbcType=VARCHAR},
		    </if>
		</set>
        <include refid="where_all_list_criteria" />
	</update>

	<update id="updateBatch" parameterType="java.util.List">
	    update cust_info
	    <trim prefix="set" suffixOverrides=",">	
	        <trim prefix="unioncode = case" suffix="end,">
	            <foreach collection="list" item="item" index="index">
	                <if test="item.unioncode != null">
	                    when custno = #{item.custno} then #{item.unioncode, jdbcType=VARCHAR}
	                </if>
	                <if test="item.unioncode == null">
	                    when custno = #{item.custno} then unioncode
	                </if>
	            </foreach>
	        </trim>
	        <trim prefix="custname = case" suffix="end,">
	            <foreach collection="list" item="item" index="index">
	                <if test="item.custname != null">
	                    when custno = #{item.custno} then #{item.custname, jdbcType=VARCHAR}
	                </if>
	                <if test="item.custname == null">
	                    when custno = #{item.custno} then custname
	                </if>
	            </foreach>
	        </trim>
	        <trim prefix="custtype = case" suffix="end,">
	            <foreach collection="list" item="item" index="index">
	                <if test="item.custtype != null">
	                    when custno = #{item.custno} then #{item.custtype, jdbcType=VARCHAR}
	                </if>
	                <if test="item.custtype == null">
	                    when custno = #{item.custno} then custtype
	                </if>
	            </foreach>
	        </trim>
	        <trim prefix="loginid = case" suffix="end,">
	            <foreach collection="list" item="item" index="index">
	                <if test="item.loginid != null">
	                    when custno = #{item.custno} then #{item.loginid, jdbcType=VARCHAR}
	                </if>
	                <if test="item.loginid == null">
	                    when custno = #{item.custno} then loginid
	                </if>
	            </foreach>
	        </trim>
	        <trim prefix="loginpasswd = case" suffix="end,">
	            <foreach collection="list" item="item" index="index">
	                <if test="item.loginpasswd != null">
	                    when custno = #{item.custno} then #{item.loginpasswd, jdbcType=VARCHAR}
	                </if>
	                <if test="item.loginpasswd == null">
	                    when custno = #{item.custno} then loginpasswd
	                </if>
	            </foreach>
	        </trim>
	        <trim prefix="salt = case" suffix="end,">
	            <foreach collection="list" item="item" index="index">
	                <if test="item.salt != null">
	                    when custno = #{item.custno} then #{item.salt, jdbcType=VARCHAR}
	                </if>
	                <if test="item.salt == null">
	                    when custno = #{item.custno} then salt
	                </if>
	            </foreach>
	        </trim>
	        <trim prefix="passwdvaliddate = case" suffix="end,">
	            <foreach collection="list" item="item" index="index">
	                <if test="item.passwdvaliddate != null">
	                    when custno = #{item.custno} then #{item.passwdvaliddate, jdbcType=VARCHAR}
	                </if>
	                <if test="item.passwdvaliddate == null">
	                    when custno = #{item.custno} then passwdvaliddate
	                </if>
	            </foreach>
	        </trim>
	        <trim prefix="mobileno = case" suffix="end,">
	            <foreach collection="list" item="item" index="index">
	                <if test="item.mobileno != null">
	                    when custno = #{item.custno} then #{item.mobileno, jdbcType=VARCHAR}
	                </if>
	                <if test="item.mobileno == null">
	                    when custno = #{item.custno} then mobileno
	                </if>
	            </foreach>
	        </trim>
	        <trim prefix="email = case" suffix="end,">
	            <foreach collection="list" item="item" index="index">
	                <if test="item.email != null">
	                    when custno = #{item.custno} then #{item.email, jdbcType=VARCHAR}
	                </if>
	                <if test="item.email == null">
	                    when custno = #{item.custno} then email
	                </if>
	            </foreach>
	        </trim>
	        <trim prefix="custlevel = case" suffix="end,">
	            <foreach collection="list" item="item" index="index">
	                <if test="item.custlevel != null">
	                    when custno = #{item.custno} then #{item.custlevel, jdbcType=VARCHAR}
	                </if>
	                <if test="item.custlevel == null">
	                    when custno = #{item.custno} then custlevel
	                </if>
	            </foreach>
	        </trim>
	        <trim prefix="idtype = case" suffix="end,">
	            <foreach collection="list" item="item" index="index">
	                <if test="item.idtype != null">
	                    when custno = #{item.custno} then #{item.idtype, jdbcType=VARCHAR}
	                </if>
	                <if test="item.idtype == null">
	                    when custno = #{item.custno} then idtype
	                </if>
	            </foreach>
	        </trim>
	        <trim prefix="idcode = case" suffix="end,">
	            <foreach collection="list" item="item" index="index">
	                <if test="item.idcode != null">
	                    when custno = #{item.custno} then #{item.idcode, jdbcType=VARCHAR}
	                </if>
	                <if test="item.idcode == null">
	                    when custno = #{item.custno} then idcode
	                </if>
	            </foreach>
	        </trim>
	        <trim prefix="idname = case" suffix="end,">
	            <foreach collection="list" item="item" index="index">
	                <if test="item.idname != null">
	                    when custno = #{item.custno} then #{item.idname, jdbcType=VARCHAR}
	                </if>
	                <if test="item.idname == null">
	                    when custno = #{item.custno} then idname
	                </if>
	            </foreach>
	        </trim>
	        <trim prefix="lastlogindate = case" suffix="end,">
	            <foreach collection="list" item="item" index="index">
	                <if test="item.lastlogindate != null">
	                    when custno = #{item.custno} then #{item.lastlogindate, jdbcType=VARCHAR}
	                </if>
	                <if test="item.lastlogindate == null">
	                    when custno = #{item.custno} then lastlogindate
	                </if>
	            </foreach>
	        </trim>
	        <trim prefix="lastlogintime = case" suffix="end,">
	            <foreach collection="list" item="item" index="index">
	                <if test="item.lastlogintime != null">
	                    when custno = #{item.custno} then #{item.lastlogintime, jdbcType=VARCHAR}
	                </if>
	                <if test="item.lastlogintime == null">
	                    when custno = #{item.custno} then lastlogintime
	                </if>
	            </foreach>
	        </trim>
	        <trim prefix="status = case" suffix="end,">
	            <foreach collection="list" item="item" index="index">
	                <if test="item.status != null">
	                    when custno = #{item.custno} then #{item.status, jdbcType=VARCHAR}
	                </if>
	                <if test="item.status == null">
	                    when custno = #{item.custno} then status
	                </if>
	            </foreach>
	        </trim>
	        <trim prefix="loginerror = case" suffix="end,">
	            <foreach collection="list" item="item" index="index">
	                <if test="item.loginerror != null">
	                    when custno = #{item.custno} then #{item.loginerror, jdbcType=INTEGER}
	                </if>
	                <if test="item.loginerror == null">
	                    when custno = #{item.custno} then loginerror
	                </if>
	            </foreach>
	        </trim>
	        <trim prefix="regdate = case" suffix="end,">
	            <foreach collection="list" item="item" index="index">
	                <if test="item.regdate != null">
	                    when custno = #{item.custno} then #{item.regdate, jdbcType=VARCHAR}
	                </if>
	                <if test="item.regdate == null">
	                    when custno = #{item.custno} then regdate
	                </if>
	            </foreach>
	        </trim>
	        <trim prefix="canceldate = case" suffix="end,">
	            <foreach collection="list" item="item" index="index">
	                <if test="item.canceldate != null">
	                    when custno = #{item.custno} then #{item.canceldate, jdbcType=VARCHAR}
	                </if>
	                <if test="item.canceldate == null">
	                    when custno = #{item.custno} then canceldate
	                </if>
	            </foreach>
	        </trim>
	    </trim>
	    where custno in
	    <foreach collection="list" index="index" item="item" separator="," open="(" close=")">
	        #{item.custno}
	    </foreach>
	</update>
	
	<delete id="deleteBatch">
	    delete from cust_info
	     where custno in
	    <foreach collection="array" item="id" separator="," open="(" close=")">
	        #{id}
	    </foreach>
	</delete>

	<sql id="column_list">
        ${tab}custno, ${tab}unioncode, ${tab}custname, ${tab}custtype, ${tab}loginid, ${tab}loginpasswd, ${tab}salt, ${tab}passwdvaliddate, ${tab}mobileno, ${tab}email, ${tab}custlevel, ${tab}idtype, ${tab}idcode, ${tab}idname, ${tab}lastlogindate, ${tab}lastlogintime, ${tab}status, ${tab}loginerror, ${tab}regdate, ${tab}canceldate
	</sql>
	
	<sql id="where_all_list">
		<where>
			<if test="custno != null">
				and custno = #{custno, jdbcType=DECIMAL}
			</if>
			<if test="unioncode != null and unioncode != ''">
				and unioncode = #{unioncode, jdbcType=VARCHAR}
			</if>
			<if test="custname != null and custname != ''">
				and custname = #{custname, jdbcType=VARCHAR}
			</if>
			<if test="custtype != null and custtype != ''">
				and custtype = #{custtype, jdbcType=VARCHAR}
			</if>
			<if test="loginid != null and loginid != ''">
				and loginid = #{loginid, jdbcType=VARCHAR}
			</if>
			<if test="loginpasswd != null and loginpasswd != ''">
				and loginpasswd = #{loginpasswd, jdbcType=VARCHAR}
			</if>
			<if test="salt != null and salt != ''">
				and salt = #{salt, jdbcType=VARCHAR}
			</if>
			<if test="passwdvaliddate != null and passwdvaliddate != ''">
				and passwdvaliddate = #{passwdvaliddate, jdbcType=VARCHAR}
			</if>
			<if test="mobileno != null and mobileno != ''">
				and mobileno = #{mobileno, jdbcType=VARCHAR}
			</if>
			<if test="email != null and email != ''">
				and email = #{email, jdbcType=VARCHAR}
			</if>
			<if test="custlevel != null and custlevel != ''">
				and custlevel = #{custlevel, jdbcType=VARCHAR}
			</if>
			<if test="idtype != null and idtype != ''">
				and idtype = #{idtype, jdbcType=VARCHAR}
			</if>
			<if test="idcode != null and idcode != ''">
				and idcode = #{idcode, jdbcType=VARCHAR}
			</if>
			<if test="idname != null and idname != ''">
				and idname = #{idname, jdbcType=VARCHAR}
			</if>
			<if test="lastlogindate != null and lastlogindate != ''">
				and lastlogindate = #{lastlogindate, jdbcType=VARCHAR}
			</if>
			<if test="lastlogintime != null and lastlogintime != ''">
				and lastlogintime = #{lastlogintime, jdbcType=VARCHAR}
			</if>
			<if test="status != null and status != ''">
				and status = #{status, jdbcType=VARCHAR}
			</if>
			<if test="loginerror != null">
				and loginerror = #{loginerror, jdbcType=INTEGER}
			</if>
			<if test="regdate != null and regdate != ''">
				and regdate = #{regdate, jdbcType=VARCHAR}
			</if>
			<if test="canceldate != null and canceldate != ''">
				and canceldate = #{canceldate, jdbcType=VARCHAR}
			</if>
		</where>
	</sql>

	<sql id="where_all_list_criteria">
		<where>
			<if test="condition.custno != null">
				and custno = #{condition.custno, jdbcType=DECIMAL}
			</if>
			<if test="condition.unioncode != null and condition.unioncode != ''">
				and unioncode = #{condition.unioncode, jdbcType=VARCHAR}
			</if>
			<if test="condition.custname != null and condition.custname != ''">
				and custname = #{condition.custname, jdbcType=VARCHAR}
			</if>
			<if test="condition.custtype != null and condition.custtype != ''">
				and custtype = #{condition.custtype, jdbcType=VARCHAR}
			</if>
			<if test="condition.loginid != null and condition.loginid != ''">
				and loginid = #{condition.loginid, jdbcType=VARCHAR}
			</if>
			<if test="condition.loginpasswd != null and condition.loginpasswd != ''">
				and loginpasswd = #{condition.loginpasswd, jdbcType=VARCHAR}
			</if>
			<if test="condition.salt != null and condition.salt != ''">
				and salt = #{condition.salt, jdbcType=VARCHAR}
			</if>
			<if test="condition.passwdvaliddate != null and condition.passwdvaliddate != ''">
				and passwdvaliddate = #{condition.passwdvaliddate, jdbcType=VARCHAR}
			</if>
			<if test="condition.mobileno != null and condition.mobileno != ''">
				and mobileno = #{condition.mobileno, jdbcType=VARCHAR}
			</if>
			<if test="condition.email != null and condition.email != ''">
				and email = #{condition.email, jdbcType=VARCHAR}
			</if>
			<if test="condition.custlevel != null and condition.custlevel != ''">
				and custlevel = #{condition.custlevel, jdbcType=VARCHAR}
			</if>
			<if test="condition.idtype != null and condition.idtype != ''">
				and idtype = #{condition.idtype, jdbcType=VARCHAR}
			</if>
			<if test="condition.idcode != null and condition.idcode != ''">
				and idcode = #{condition.idcode, jdbcType=VARCHAR}
			</if>
			<if test="condition.idname != null and condition.idname != ''">
				and idname = #{condition.idname, jdbcType=VARCHAR}
			</if>
			<if test="condition.lastlogindate != null and condition.lastlogindate != ''">
				and lastlogindate = #{condition.lastlogindate, jdbcType=VARCHAR}
			</if>
			<if test="condition.lastlogintime != null and condition.lastlogintime != ''">
				and lastlogintime = #{condition.lastlogintime, jdbcType=VARCHAR}
			</if>
			<if test="condition.status != null and condition.status != ''">
				and status = #{condition.status, jdbcType=VARCHAR}
			</if>
			<if test="condition.loginerror != null">
				and loginerror = #{condition.loginerror, jdbcType=INTEGER}
			</if>
			<if test="condition.regdate != null and condition.regdate != ''">
				and regdate = #{condition.regdate, jdbcType=VARCHAR}
			</if>
			<if test="condition.canceldate != null and condition.canceldate != ''">
				and canceldate = #{condition.canceldate, jdbcType=VARCHAR}
			</if>
		</where>
	</sql>

	<sql id="orderby_list">
        <if test="orderByClause != null and orderByClause != ''">
            order by ${orderByClause}
        </if>
	</sql>
</mapper>