<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.oversky.gurms.dao.sys.SysDictValueDao">
    <resultMap id="BaseResultMap" type="org.oversky.gurms.entity.sys.SysDictValue">
        <id column="unioncode" jdbcType="VARCHAR" property="unioncode" />
        <id column="dictcode" jdbcType="INTEGER" property="dictcode" />
        <id column="itemcode" jdbcType="VARCHAR" property="itemcode" />
        <result column="itemname" jdbcType="VARCHAR" property="itemname" />
    </resultMap>
	
	<sql id="column_list">
        unioncode, dictcode, itemcode, itemname
	</sql>
  
    <insert id="insert" parameterType="org.oversky.gurms.entity.sys.SysDictValue">
        insert into sys_dict_value (unioncode, dictcode, itemcode, itemname)
        values (#{unioncode, jdbcType=VARCHAR}, #{dictcode, jdbcType=INTEGER}, #{itemcode, jdbcType=VARCHAR}, #{itemname, jdbcType=VARCHAR})
    </insert>
  
    <select id="selectAll" parameterType="org.oversky.gurms.entity.sys.SysDictValue" resultMap="BaseResultMap">
        select <include refid="column_list" />
          from sys_dict_value
		<where>
			<if test="unioncode != null ">
				and unioncode = #{unioncode, jdbcType=VARCHAR}
			</if>
			<if test="dictcode != null ">
				and dictcode = #{dictcode, jdbcType=INTEGER}
			</if>
			<if test="itemcode != null ">
				and itemcode = #{itemcode, jdbcType=VARCHAR}
			</if>
			<if test="itemname != null ">
				and itemname = #{itemname, jdbcType=VARCHAR}
			</if>
		</where>
    </select>

	<insert id="insertBatch" parameterType="java.util.List" useGeneratedKeys="false">
		insert all
		<foreach item="item" index="index" collection="list">
		into sys_dict_value (unioncode, dictcode, itemcode, itemname) 
		values (#{item.unioncode, jdbcType=VARCHAR}, #{item.dictcode, jdbcType=INTEGER}, #{item.itemcode, jdbcType=VARCHAR}, #{item.itemname, jdbcType=VARCHAR})
		</foreach>
		select 1 from dual
	</insert>
	
    <select id="selectById" resultMap="BaseResultMap">
        select <include refid="column_list" />
          from sys_dict_value
         where 1=1 and unioncode = #{0} and dictcode = #{1} and itemcode = #{2}
    </select>

    <delete id="deleteById">
        delete from sys_dict_value
         where 1=1 and unioncode = #{0} and dictcode = #{1} and itemcode = #{2}
    </delete>
  
    <update id="updateById" parameterType="org.oversky.gurms.entity.sys.SysDictValue">
        update sys_dict_value set 
               itemname = #{itemname, jdbcType=VARCHAR}
         where 1=1 and unioncode = #{unioncode, jdbcType=VARCHAR} and dictcode = #{dictcode, jdbcType=INTEGER} and itemcode = #{itemcode, jdbcType=VARCHAR}
    </update>

	<update id="dynamicUpdateById" parameterType="org.oversky.gurms.entity.sys.SysDictValue">
		update sys_dict_value
		<set>
		    <if test="itemname != null">
				itemname = #{itemname, jdbcType=VARCHAR},
		    </if>
		</set>
		where 1=1 and unioncode = #{unioncode, jdbcType=VARCHAR} and dictcode = #{dictcode, jdbcType=INTEGER} and itemcode = #{itemcode, jdbcType=VARCHAR}
	</update>
</mapper>