<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.oversky.gurms.dao.sys.SysUserRoleDao">
    <resultMap id="BaseResultMap" type="org.oversky.gurms.entity.sys.SysUserRole">
        <id column="userid" jdbcType="DECIMAL" property="userid" />
        <id column="roleid" jdbcType="INTEGER" property="roleid" />
    </resultMap>
	
	<sql id="column_list">
        userid, roleid
	</sql>
  
    <insert id="insert" parameterType="org.oversky.gurms.entity.sys.SysUserRole">
        insert into sys_user_role (userid, roleid)
        values (#{userid, jdbcType=DECIMAL}, #{roleid, jdbcType=INTEGER})
    </insert>
  
    <select id="selectAll" parameterType="org.oversky.gurms.entity.sys.SysUserRole" resultMap="BaseResultMap">
        select <include refid="column_list" />
          from sys_user_role
		<where>
			<if test="userid != null ">
				and userid = #{userid, jdbcType=DECIMAL}
			</if>
			<if test="roleid != null ">
				and roleid = #{roleid, jdbcType=INTEGER}
			</if>
		</where>
    </select>

	<insert id="insertBatch" parameterType="java.util.List" useGeneratedKeys="false">
		insert all
		<foreach item="item" index="index" collection="list">
		into sys_user_role (userid, roleid) 
		values (#{item.userid, jdbcType=DECIMAL}, #{item.roleid, jdbcType=INTEGER})
		</foreach>
		select 1 from dual
	</insert>
	
    <select id="selectById" resultMap="BaseResultMap">
        select <include refid="column_list" />
          from sys_user_role
         where 1=1 and userid = #{0} and roleid = #{1}
    </select>

    <delete id="deleteById">
        delete from sys_user_role
         where 1=1 and userid = #{0} and roleid = #{1}
    </delete>
  
</mapper>