<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.oversky.gurms.dao.game.GameEquipInfoDao">
    <resultMap id="BaseResultMap" type="org.oversky.gurms.entity.game.GameEquipInfo">
        <id column="equipid" jdbcType="VARCHAR" property="equipid" />
        <result column="equipname" jdbcType="VARCHAR" property="equipname" />
        <result column="icon" jdbcType="VARCHAR" property="icon" />
        <result column="position" jdbcType="VARCHAR" property="position" />
        <result column="rank" jdbcType="VARCHAR" property="rank" />
        <result column="profession" jdbcType="VARCHAR" property="profession" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />
    </resultMap>
	
	<sql id="column_list">
        equipid, equipname, icon, position, rank, profession, remark
	</sql>
  
    <insert id="insert" parameterType="org.oversky.gurms.entity.game.GameEquipInfo">
        insert into game_equip_info (equipid, equipname, icon, position, rank, profession, remark)
        values (#{equipid, jdbcType=VARCHAR}, #{equipname, jdbcType=VARCHAR}, #{icon, jdbcType=VARCHAR}, #{position, jdbcType=VARCHAR}, #{rank, jdbcType=VARCHAR}, #{profession, jdbcType=VARCHAR}, #{remark, jdbcType=VARCHAR})
    </insert>
  
    <select id="selectAll" parameterType="org.oversky.gurms.entity.game.GameEquipInfo" resultMap="BaseResultMap">
        select <include refid="column_list" />
          from game_equip_info
		<where>
			<if test="equipid != null ">
				and equipid = #{equipid, jdbcType=VARCHAR}
			</if>
			<if test="equipname != null ">
				and equipname = #{equipname, jdbcType=VARCHAR}
			</if>
			<if test="icon != null ">
				and icon = #{icon, jdbcType=VARCHAR}
			</if>
			<if test="position != null ">
				and position = #{position, jdbcType=VARCHAR}
			</if>
			<if test="rank != null ">
				and rank = #{rank, jdbcType=VARCHAR}
			</if>
			<if test="profession != null ">
				and profession = #{profession, jdbcType=VARCHAR}
			</if>
			<if test="remark != null ">
				and remark = #{remark, jdbcType=VARCHAR}
			</if>
		</where>
    </select>

	<insert id="insertBatch" parameterType="java.util.List" useGeneratedKeys="false">
		insert all
		<foreach item="item" index="index" collection="list">
		into game_equip_info (equipid, equipname, icon, position, rank, profession, remark) 
		values (#{item.equipid, jdbcType=VARCHAR}, #{item.equipname, jdbcType=VARCHAR}, #{item.icon, jdbcType=VARCHAR}, #{item.position, jdbcType=VARCHAR}, #{item.rank, jdbcType=VARCHAR}, #{item.profession, jdbcType=VARCHAR}, #{item.remark, jdbcType=VARCHAR})
		</foreach>
		select 1 from dual
	</insert>
	
    <select id="selectById" resultMap="BaseResultMap">
        select <include refid="column_list" />
          from game_equip_info
         where 1=1 and equipid = #{0}
    </select>

    <delete id="deleteById">
        delete from game_equip_info
         where 1=1 and equipid = #{0}
    </delete>
  
    <update id="updateById" parameterType="org.oversky.gurms.entity.game.GameEquipInfo">
        update game_equip_info set 
               equipname = #{equipname, jdbcType=VARCHAR}, 
               icon = #{icon, jdbcType=VARCHAR}, 
               position = #{position, jdbcType=VARCHAR}, 
               rank = #{rank, jdbcType=VARCHAR}, 
               profession = #{profession, jdbcType=VARCHAR}, 
               remark = #{remark, jdbcType=VARCHAR}
         where 1=1 and equipid = #{equipid, jdbcType=VARCHAR}
    </update>

	<update id="dynamicUpdateById" parameterType="org.oversky.gurms.entity.game.GameEquipInfo">
		update game_equip_info
		<set>
		    <if test="equipname != null">
				equipname = #{equipname, jdbcType=VARCHAR},
		    </if>
		    <if test="icon != null">
				icon = #{icon, jdbcType=VARCHAR},
		    </if>
		    <if test="position != null">
				position = #{position, jdbcType=VARCHAR},
		    </if>
		    <if test="rank != null">
				rank = #{rank, jdbcType=VARCHAR},
		    </if>
		    <if test="profession != null">
				profession = #{profession, jdbcType=VARCHAR},
		    </if>
		    <if test="remark != null">
				remark = #{remark, jdbcType=VARCHAR},
		    </if>
		</set>
		where 1=1 and equipid = #{equipid, jdbcType=VARCHAR}
	</update>
</mapper>