<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.oversky.gurms.dao.game.GamePromotionInfoDao">
    <resultMap id="BaseResultMap" type="org.oversky.gurms.entity.game.GamePromotionInfo">
        <id column="promid" jdbcType="INTEGER" property="promid" />
        <result column="promname" jdbcType="VARCHAR" property="promname" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />
    </resultMap>
	
	<sql id="column_list">
        promid, promname, remark
	</sql>
  
    <insert id="insert" parameterType="org.oversky.gurms.entity.game.GamePromotionInfo">
        insert into game_promotion_info (promid, promname, remark)
        values (#{promid, jdbcType=INTEGER}, #{promname, jdbcType=VARCHAR}, #{remark, jdbcType=VARCHAR})
    </insert>
  
    <select id="selectAll" parameterType="org.oversky.gurms.entity.game.GamePromotionInfo" resultMap="BaseResultMap">
        select <include refid="column_list" />
          from game_promotion_info
		<where>
			<if test="promid != null ">
				and promid = #{promid, jdbcType=INTEGER}
			</if>
			<if test="promname != null ">
				and promname = #{promname, jdbcType=VARCHAR}
			</if>
			<if test="remark != null ">
				and remark = #{remark, jdbcType=VARCHAR}
			</if>
		</where>
    </select>

	<insert id="insertBatch" parameterType="java.util.List" useGeneratedKeys="false">
		insert all
		<foreach item="item" index="index" collection="list">
		into game_promotion_info (promid, promname, remark) 
		values (#{item.promid, jdbcType=INTEGER}, #{item.promname, jdbcType=VARCHAR}, #{item.remark, jdbcType=VARCHAR})
		</foreach>
		select 1 from dual
	</insert>
	
    <select id="selectById" resultMap="BaseResultMap">
        select <include refid="column_list" />
          from game_promotion_info
         where 1=1 and promid = #{0}
    </select>

    <delete id="deleteById">
        delete from game_promotion_info
         where 1=1 and promid = #{0}
    </delete>
  
    <update id="updateById" parameterType="org.oversky.gurms.entity.game.GamePromotionInfo">
        update game_promotion_info set 
               promname = #{promname, jdbcType=VARCHAR}, 
               remark = #{remark, jdbcType=VARCHAR}
         where 1=1 and promid = #{promid, jdbcType=INTEGER}
    </update>

	<update id="dynamicUpdateById" parameterType="org.oversky.gurms.entity.game.GamePromotionInfo">
		update game_promotion_info
		<set>
		    <if test="promname != null">
				promname = #{promname, jdbcType=VARCHAR},
		    </if>
		    <if test="remark != null">
				remark = #{remark, jdbcType=VARCHAR},
		    </if>
		</set>
		where 1=1 and promid = #{promid, jdbcType=INTEGER}
	</update>
</mapper>