<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.oversky.gurms.dao.game.GameActorInfoDao">
    <resultMap id="BaseResultMap" type="org.oversky.gurms.entity.game.GameActorInfo">
        <id column="actorid" jdbcType="VARCHAR" property="actorid" />
        <result column="actorname" jdbcType="VARCHAR" property="actorname" />
        <result column="sex" jdbcType="INTEGER" property="sex" />
        <result column="race" jdbcType="VARCHAR" property="race" />
        <result column="profession" jdbcType="VARCHAR" property="profession" />
        <result column="actorscene" jdbcType="INTEGER" property="actorscene" />
        <result column="str" jdbcType="INTEGER" property="str" />
        <result column="int" jdbcType="INTEGER" property="int" />
        <result column="hp" jdbcType="INTEGER" property="hp" />
        <result column="mp" jdbcType="INTEGER" property="mp" />
        <result column="agl" jdbcType="INTEGER" property="agl" />
        <result column="luck" jdbcType="INTEGER" property="luck" />
        <result column="initrank" jdbcType="INTEGER" property="initrank" />
        <result column="maxrank" jdbcType="INTEGER" property="maxrank" />
        <result column="ratiotype" jdbcType="INTEGER" property="ratiotype" />
        <result column="ratiostr" jdbcType="DOUBLE" property="ratiostr" />
        <result column="ratioint" jdbcType="DOUBLE" property="ratioint" />
        <result column="ratiohp" jdbcType="DOUBLE" property="ratiohp" />
        <result column="ratiomp" jdbcType="DOUBLE" property="ratiomp" />
        <result column="ratioagl" jdbcType="DOUBLE" property="ratioagl" />
        <result column="ratioluck" jdbcType="DOUBLE" property="ratioluck" />
        <result column="father" jdbcType="VARCHAR" property="father" />
        <result column="mother" jdbcType="VARCHAR" property="mother" />
    </resultMap>
	
	<sql id="column_list">
        actorid, actorname, sex, race, profession, actorscene, str, int, hp, mp, agl, luck, initrank, maxrank, ratiotype, ratiostr, ratioint, ratiohp, ratiomp, ratioagl, ratioluck, father, mother
	</sql>
  
    <insert id="insert" parameterType="org.oversky.gurms.entity.game.GameActorInfo">
        insert into game_actor_info (actorid, actorname, sex, race, profession, actorscene, str, int, hp, mp, agl, luck, initrank, maxrank, ratiotype, ratiostr, ratioint, ratiohp, ratiomp, ratioagl, ratioluck, father, mother)
        values (#{actorid, jdbcType=VARCHAR}, #{actorname, jdbcType=VARCHAR}, #{sex, jdbcType=INTEGER}, #{race, jdbcType=VARCHAR}, #{profession, jdbcType=VARCHAR}, #{actorscene, jdbcType=INTEGER}, #{str, jdbcType=INTEGER}, #{int, jdbcType=INTEGER}, #{hp, jdbcType=INTEGER}, #{mp, jdbcType=INTEGER}, #{agl, jdbcType=INTEGER}, #{luck, jdbcType=INTEGER}, #{initrank, jdbcType=INTEGER}, #{maxrank, jdbcType=INTEGER}, #{ratiotype, jdbcType=INTEGER}, #{ratiostr, jdbcType=DOUBLE}, #{ratioint, jdbcType=DOUBLE}, #{ratiohp, jdbcType=DOUBLE}, #{ratiomp, jdbcType=DOUBLE}, #{ratioagl, jdbcType=DOUBLE}, #{ratioluck, jdbcType=DOUBLE}, #{father, jdbcType=VARCHAR}, #{mother, jdbcType=VARCHAR})
    </insert>
  
    <select id="selectAll" parameterType="org.oversky.gurms.entity.game.GameActorInfo" resultMap="BaseResultMap">
        select <include refid="column_list" />
          from game_actor_info
		<where>
			<if test="actorid != null ">
				and actorid = #{actorid, jdbcType=VARCHAR}
			</if>
			<if test="actorname != null ">
				and actorname = #{actorname, jdbcType=VARCHAR}
			</if>
			<if test="sex != null ">
				and sex = #{sex, jdbcType=INTEGER}
			</if>
			<if test="race != null ">
				and race = #{race, jdbcType=VARCHAR}
			</if>
			<if test="profession != null ">
				and profession = #{profession, jdbcType=VARCHAR}
			</if>
			<if test="actorscene != null ">
				and actorscene = #{actorscene, jdbcType=INTEGER}
			</if>
			<if test="str != null ">
				and str = #{str, jdbcType=INTEGER}
			</if>
			<if test="int != null ">
				and int = #{int, jdbcType=INTEGER}
			</if>
			<if test="hp != null ">
				and hp = #{hp, jdbcType=INTEGER}
			</if>
			<if test="mp != null ">
				and mp = #{mp, jdbcType=INTEGER}
			</if>
			<if test="agl != null ">
				and agl = #{agl, jdbcType=INTEGER}
			</if>
			<if test="luck != null ">
				and luck = #{luck, jdbcType=INTEGER}
			</if>
			<if test="initrank != null ">
				and initrank = #{initrank, jdbcType=INTEGER}
			</if>
			<if test="maxrank != null ">
				and maxrank = #{maxrank, jdbcType=INTEGER}
			</if>
			<if test="ratiotype != null ">
				and ratiotype = #{ratiotype, jdbcType=INTEGER}
			</if>
			<if test="ratiostr != null ">
				and ratiostr = #{ratiostr, jdbcType=DOUBLE}
			</if>
			<if test="ratioint != null ">
				and ratioint = #{ratioint, jdbcType=DOUBLE}
			</if>
			<if test="ratiohp != null ">
				and ratiohp = #{ratiohp, jdbcType=DOUBLE}
			</if>
			<if test="ratiomp != null ">
				and ratiomp = #{ratiomp, jdbcType=DOUBLE}
			</if>
			<if test="ratioagl != null ">
				and ratioagl = #{ratioagl, jdbcType=DOUBLE}
			</if>
			<if test="ratioluck != null ">
				and ratioluck = #{ratioluck, jdbcType=DOUBLE}
			</if>
			<if test="father != null ">
				and father = #{father, jdbcType=VARCHAR}
			</if>
			<if test="mother != null ">
				and mother = #{mother, jdbcType=VARCHAR}
			</if>
		</where>
    </select>

	<insert id="insertBatch" parameterType="java.util.List" useGeneratedKeys="false">
		insert all
		<foreach item="item" index="index" collection="list">
		into game_actor_info (actorid, actorname, sex, race, profession, actorscene, str, int, hp, mp, agl, luck, initrank, maxrank, ratiotype, ratiostr, ratioint, ratiohp, ratiomp, ratioagl, ratioluck, father, mother) 
		values (#{item.actorid, jdbcType=VARCHAR}, #{item.actorname, jdbcType=VARCHAR}, #{item.sex, jdbcType=INTEGER}, #{item.race, jdbcType=VARCHAR}, #{item.profession, jdbcType=VARCHAR}, #{item.actorscene, jdbcType=INTEGER}, #{item.str, jdbcType=INTEGER}, #{item.int, jdbcType=INTEGER}, #{item.hp, jdbcType=INTEGER}, #{item.mp, jdbcType=INTEGER}, #{item.agl, jdbcType=INTEGER}, #{item.luck, jdbcType=INTEGER}, #{item.initrank, jdbcType=INTEGER}, #{item.maxrank, jdbcType=INTEGER}, #{item.ratiotype, jdbcType=INTEGER}, #{item.ratiostr, jdbcType=DOUBLE}, #{item.ratioint, jdbcType=DOUBLE}, #{item.ratiohp, jdbcType=DOUBLE}, #{item.ratiomp, jdbcType=DOUBLE}, #{item.ratioagl, jdbcType=DOUBLE}, #{item.ratioluck, jdbcType=DOUBLE}, #{item.father, jdbcType=VARCHAR}, #{item.mother, jdbcType=VARCHAR})
		</foreach>
		select 1 from dual
	</insert>
	
    <select id="selectById" resultMap="BaseResultMap">
        select <include refid="column_list" />
          from game_actor_info
         where 1=1 and actorid = #{0}
    </select>

    <delete id="deleteById">
        delete from game_actor_info
         where 1=1 and actorid = #{0}
    </delete>
  
    <update id="updateById" parameterType="org.oversky.gurms.entity.game.GameActorInfo">
        update game_actor_info set 
               actorname = #{actorname, jdbcType=VARCHAR}, 
               sex = #{sex, jdbcType=INTEGER}, 
               race = #{race, jdbcType=VARCHAR}, 
               profession = #{profession, jdbcType=VARCHAR}, 
               actorscene = #{actorscene, jdbcType=INTEGER}, 
               str = #{str, jdbcType=INTEGER}, 
               int = #{int, jdbcType=INTEGER}, 
               hp = #{hp, jdbcType=INTEGER}, 
               mp = #{mp, jdbcType=INTEGER}, 
               agl = #{agl, jdbcType=INTEGER}, 
               luck = #{luck, jdbcType=INTEGER}, 
               initrank = #{initrank, jdbcType=INTEGER}, 
               maxrank = #{maxrank, jdbcType=INTEGER}, 
               ratiotype = #{ratiotype, jdbcType=INTEGER}, 
               ratiostr = #{ratiostr, jdbcType=DOUBLE}, 
               ratioint = #{ratioint, jdbcType=DOUBLE}, 
               ratiohp = #{ratiohp, jdbcType=DOUBLE}, 
               ratiomp = #{ratiomp, jdbcType=DOUBLE}, 
               ratioagl = #{ratioagl, jdbcType=DOUBLE}, 
               ratioluck = #{ratioluck, jdbcType=DOUBLE}, 
               father = #{father, jdbcType=VARCHAR}, 
               mother = #{mother, jdbcType=VARCHAR}
         where 1=1 and actorid = #{actorid, jdbcType=VARCHAR}
    </update>

	<update id="dynamicUpdateById" parameterType="org.oversky.gurms.entity.game.GameActorInfo">
		update game_actor_info
		<set>
		    <if test="actorname != null">
				actorname = #{actorname, jdbcType=VARCHAR},
		    </if>
		    <if test="sex != null">
				sex = #{sex, jdbcType=INTEGER},
		    </if>
		    <if test="race != null">
				race = #{race, jdbcType=VARCHAR},
		    </if>
		    <if test="profession != null">
				profession = #{profession, jdbcType=VARCHAR},
		    </if>
		    <if test="actorscene != null">
				actorscene = #{actorscene, jdbcType=INTEGER},
		    </if>
		    <if test="str != null">
				str = #{str, jdbcType=INTEGER},
		    </if>
		    <if test="int != null">
				int = #{int, jdbcType=INTEGER},
		    </if>
		    <if test="hp != null">
				hp = #{hp, jdbcType=INTEGER},
		    </if>
		    <if test="mp != null">
				mp = #{mp, jdbcType=INTEGER},
		    </if>
		    <if test="agl != null">
				agl = #{agl, jdbcType=INTEGER},
		    </if>
		    <if test="luck != null">
				luck = #{luck, jdbcType=INTEGER},
		    </if>
		    <if test="initrank != null">
				initrank = #{initrank, jdbcType=INTEGER},
		    </if>
		    <if test="maxrank != null">
				maxrank = #{maxrank, jdbcType=INTEGER},
		    </if>
		    <if test="ratiotype != null">
				ratiotype = #{ratiotype, jdbcType=INTEGER},
		    </if>
		    <if test="ratiostr != null">
				ratiostr = #{ratiostr, jdbcType=DOUBLE},
		    </if>
		    <if test="ratioint != null">
				ratioint = #{ratioint, jdbcType=DOUBLE},
		    </if>
		    <if test="ratiohp != null">
				ratiohp = #{ratiohp, jdbcType=DOUBLE},
		    </if>
		    <if test="ratiomp != null">
				ratiomp = #{ratiomp, jdbcType=DOUBLE},
		    </if>
		    <if test="ratioagl != null">
				ratioagl = #{ratioagl, jdbcType=DOUBLE},
		    </if>
		    <if test="ratioluck != null">
				ratioluck = #{ratioluck, jdbcType=DOUBLE},
		    </if>
		    <if test="father != null">
				father = #{father, jdbcType=VARCHAR},
		    </if>
		    <if test="mother != null">
				mother = #{mother, jdbcType=VARCHAR},
		    </if>
		</set>
		where 1=1 and actorid = #{actorid, jdbcType=VARCHAR}
	</update>
</mapper>