<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.oversky.gurms.system.dao.SysMenuDao">
    <resultMap id="BaseResultMap" type="org.oversky.gurms.system.entity.SysMenu">
        <id column="menuid" jdbcType="VARCHAR" property="menuid" />
        <result column="menuname" jdbcType="VARCHAR" property="menuname" />
        <result column="menuurl" jdbcType="VARCHAR" property="menuurl" />
        <result column="parentmenu" jdbcType="VARCHAR" property="parentmenu" />
        <result column="menutype" jdbcType="INTEGER" property="menutype" />
        <result column="opentype" jdbcType="INTEGER" property="opentype" />
        <result column="status" jdbcType="INTEGER" property="status" />
    </resultMap>
  
    <insert id="insert" parameterType="org.oversky.gurms.system.entity.SysMenu">
        insert into sys_menu (<include refid="column_list"><property name="tab" value=""/></include>)
        values (#{menuid, jdbcType=VARCHAR}, #{menuname, jdbcType=VARCHAR}, #{menuurl, jdbcType=VARCHAR}, #{parentmenu, jdbcType=VARCHAR}, #{menutype, jdbcType=INTEGER}, #{opentype, jdbcType=INTEGER}, #{status, jdbcType=INTEGER})
    </insert>
  
    <select id="selectWhere" parameterType="org.oversky.gurms.system.entity.SysMenu" resultMap="BaseResultMap">
        select <include refid="column_list"><property name="tab" value=""/></include>
          from sys_menu 
          <include refid="where_all_list" />
    </select>

	<select id="count" resultType="int" parameterType="org.oversky.gurms.system.entity.SysMenu">
        select count(1) from sys_menu <include refid="where_all_list" />
	</select>

    <select id="selectAll" resultMap="BaseResultMap">
        select <include refid="column_list"><property name="tab" value=""/></include>
          from sys_menu
    </select>

	<!-- mysql专属 -->
	<insert id="insertBatch" parameterType="java.util.List" useGeneratedKeys="false">
		insert all
		<foreach item="item" index="index" collection="list">
		into sys_menu (<include refid="column_list"><property name="tab" value=""/></include>) 
		values (#{item.menuid, jdbcType=VARCHAR}, #{item.menuname, jdbcType=VARCHAR}, #{item.menuurl, jdbcType=VARCHAR}, #{item.parentmenu, jdbcType=VARCHAR}, #{item.menutype, jdbcType=INTEGER}, #{item.opentype, jdbcType=INTEGER}, #{item.status, jdbcType=INTEGER})
		</foreach>
		select 1 from dual
	</insert>
	
    <select id="getById" resultMap="BaseResultMap">
        select <include refid="column_list"><property name="tab" value=""/></include>
          from sys_menu
         where menuid = #{0}
    </select>

    <delete id="deleteById">
        delete from sys_menu
         where menuid = #{0}
    </delete>
  
    <update id="updateById" parameterType="org.oversky.gurms.system.entity.SysMenu">
        update sys_menu set 
               menuname = #{menuname, jdbcType=VARCHAR}, 
               menuurl = #{menuurl, jdbcType=VARCHAR}, 
               parentmenu = #{parentmenu, jdbcType=VARCHAR}, 
               menutype = #{menutype, jdbcType=INTEGER}, 
               opentype = #{opentype, jdbcType=INTEGER}, 
               status = #{status, jdbcType=INTEGER}
		where menuid = #{menuid, jdbcType=VARCHAR}
    </update>

	<update id="dynamicUpdateById" parameterType="org.oversky.gurms.system.entity.SysMenu">
		update sys_menu
		<set>
		    <if test="menuname != null">
				menuname = #{menuname, jdbcType=VARCHAR},
		    </if>
		    <if test="menuurl != null">
				menuurl = #{menuurl, jdbcType=VARCHAR},
		    </if>
		    <if test="parentmenu != null">
				parentmenu = #{parentmenu, jdbcType=VARCHAR},
		    </if>
		    <if test="menutype != null">
				menutype = #{menutype, jdbcType=INTEGER},
		    </if>
		    <if test="opentype != null">
				opentype = #{opentype, jdbcType=INTEGER},
		    </if>
		    <if test="status != null">
				status = #{status, jdbcType=INTEGER},
		    </if>
		</set>
		where menuid = #{menuid, jdbcType=VARCHAR}
	</update>
	
	<sql id="column_list">
        ${tab}menuid, ${tab}menuname, ${tab}menuurl, ${tab}parentmenu, ${tab}menutype, ${tab}opentype, ${tab}status
	</sql>
	
	<sql id="where_all_list">
		<where>
			<if test="menuid != null and menuid != ''">
				and menuid = #{menuid, jdbcType=VARCHAR}
			</if>
			<if test="menuname != null and menuname != ''">
				and menuname = #{menuname, jdbcType=VARCHAR}
			</if>
			<if test="menuurl != null and menuurl != ''">
				and menuurl = #{menuurl, jdbcType=VARCHAR}
			</if>
			<if test="parentmenu != null and parentmenu != ''">
				and parentmenu = #{parentmenu, jdbcType=VARCHAR}
			</if>
			<if test="menutype != null">
				and menutype = #{menutype, jdbcType=INTEGER}
			</if>
			<if test="opentype != null">
				and opentype = #{opentype, jdbcType=INTEGER}
			</if>
			<if test="status != null">
				and status = #{status, jdbcType=INTEGER}
			</if>
		</where>
	</sql>
</mapper>