<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.oversky.gurms.system.dao.SysParamDao">
    <resultMap id="BaseResultMap" type="org.oversky.gurms.system.entity.SysParam">
        <id column="unioncode" jdbcType="VARCHAR" property="unioncode" />
        <id column="paramid" jdbcType="INTEGER" property="paramid" />
        <result column="paramvalue" jdbcType="VARCHAR" property="paramvalue" />
    </resultMap>

    <insert id="insert" parameterType="org.oversky.gurms.system.entity.SysParam">
        insert into sys_param (<include refid="column_list"><property name="tab" value=""/></include>)
        values (#{unioncode, jdbcType=VARCHAR}, #{paramid, jdbcType=INTEGER}, #{paramvalue, jdbcType=VARCHAR})
    </insert>
  
	<insert id="insertBatch" parameterType="java.util.List" useGeneratedKeys="false">
		insert into sys_param (<include refid="column_list"><property name="tab" value=""/></include>) 
		values 
		<foreach item="item" index="index" collection="list" separator=",">
		(#{item.unioncode, jdbcType=VARCHAR}, #{item.paramid, jdbcType=INTEGER}, #{item.paramvalue, jdbcType=VARCHAR})
		</foreach>
	</insert>
	
    <select id="selectWhere" parameterType="org.oversky.gurms.system.entity.SysParam" resultMap="BaseResultMap">
        select <include refid="column_list"><property name="tab" value=""/></include>
          from sys_param 
          <include refid="where_all_list" />
    </select>

    <delete id="deleteWhere" parameterType="org.oversky.gurms.system.entity.SysParam">
        delete from sys_param 
          <include refid="where_all_list" />
    </delete>

	<select id="count" resultType="int" parameterType="org.oversky.gurms.system.entity.SysParam">
        select count(1) from sys_param <include refid="where_all_list" />
	</select>

    <select id="selectAll" resultMap="BaseResultMap">
        select <include refid="column_list"><property name="tab" value=""/></include>
          from sys_param
    </select>

    <select id="getById" resultMap="BaseResultMap">
        select <include refid="column_list"><property name="tab" value=""/></include>
          from sys_param
         where unioncode = #{0} and paramid = #{1}
    </select>

    <delete id="deleteById">
        delete from sys_param
         where unioncode = #{0} and paramid = #{1}
    </delete>
  
    <update id="updateById" parameterType="org.oversky.gurms.system.entity.SysParam">
        update sys_param set 
               paramvalue = #{paramvalue, jdbcType=VARCHAR}
		where unioncode = #{unioncode, jdbcType=VARCHAR} and paramid = #{paramid, jdbcType=INTEGER}
    </update>

	<update id="dynamicUpdateById" parameterType="org.oversky.gurms.system.entity.SysParam">
		update sys_param
		<set>
		    <if test="paramvalue != null">
				paramvalue = #{paramvalue, jdbcType=VARCHAR},
		    </if>
		</set>
		where unioncode = #{unioncode, jdbcType=VARCHAR} and paramid = #{paramid, jdbcType=INTEGER}
	</update>


	<sql id="column_list">
        ${tab}unioncode, ${tab}paramid, ${tab}paramvalue
	</sql>
	
	<sql id="where_all_list">
		<where>
			<if test="unioncode != null and unioncode != ''">
				and unioncode = #{unioncode, jdbcType=VARCHAR}
			</if>
			<if test="paramid != null">
				and paramid = #{paramid, jdbcType=INTEGER}
			</if>
			<if test="paramvalue != null and paramvalue != ''">
				and paramvalue = #{paramvalue, jdbcType=VARCHAR}
			</if>
		</where>
	</sql>
</mapper>