<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.oversky.gurms.system.dao.SysRoleMenuDao">
    <resultMap id="BaseResultMap" type="org.oversky.gurms.system.entity.SysRoleMenu">
        <id column="roleid" jdbcType="INTEGER" property="roleid" />
        <id column="menuid" jdbcType="VARCHAR" property="menuid" />
    </resultMap>
	
	<sql id="column_list">
        ${tab}roleid, ${tab}menuid
	</sql>
  
    <insert id="insert" parameterType="org.oversky.gurms.system.entity.SysRoleMenu">
        insert into sys_role_menu (<include refid="column_list"><property name="tab" value=""/></include>)
        values (#{roleid, jdbcType=INTEGER}, #{menuid, jdbcType=VARCHAR})
    </insert>
  
    <select id="selectWhere" parameterType="org.oversky.gurms.system.entity.SysRoleMenu" resultMap="BaseResultMap">
        select <include refid="column_list"><property name="tab" value=""/></include>
          from sys_role_menu
		<where>
			<if test="roleid != null ">
				and roleid = #{roleid, jdbcType=INTEGER}
			</if>
			<if test="menuid != null  and menuid !='' ">
				and menuid = #{menuid, jdbcType=VARCHAR}
			</if>
		</where>
    </select>

	<select id="getTotal" resultType="int" parameterType="org.oversky.gurms.system.entity.SysRoleMenu">
        select count(1) from sys_role_menu
		<where>
			<if test="roleid != null ">
				and roleid = #{roleid, jdbcType=INTEGER}
			</if>
			<if test="menuid != null  and menuid !='' ">
				and menuid = #{menuid, jdbcType=VARCHAR}
			</if>
		</where>
	</select>

    <select id="selectAll" resultMap="BaseResultMap">
        select <include refid="column_list"><property name="tab" value=""/></include>
          from sys_role_menu
    </select>

	<!-- mysql专属 -->
	<insert id="insertBatch" parameterType="java.util.List" useGeneratedKeys="false">
		insert all
		<foreach item="item" index="index" collection="list">
		into sys_role_menu (<include refid="column_list"><property name="tab" value=""/></include>) 
		values (#{item.roleid, jdbcType=INTEGER}, #{item.menuid, jdbcType=VARCHAR})
		</foreach>
		select 1 from dual
	</insert>
	
    <select id="selectById" resultMap="BaseResultMap">
        select <include refid="column_list"><property name="tab" value=""/></include>
          from sys_role_menu
         where 1=1 and roleid = #{0} and menuid = #{1}
    </select>

    <delete id="deleteById">
        delete from sys_role_menu
         where 1=1 and roleid = #{0} and menuid = #{1}
    </delete>
  
</mapper>