<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.oversky.gurms.system.dao.SysUserInfoDao">
    <resultMap id="BaseResultMap" type="org.oversky.gurms.system.entity.SysUserInfo">
        <id column="userid" jdbcType="DECIMAL" property="userid" />
        <result column="unioncode" jdbcType="VARCHAR" property="unioncode" />
        <result column="sex" jdbcType="VARCHAR" property="sex" />
        <result column="birthday" jdbcType="VARCHAR" property="birthday" />
        <result column="address" jdbcType="VARCHAR" property="address" />
        <result column="postcode" jdbcType="VARCHAR" property="postcode" />
        <result column="province" jdbcType="VARCHAR" property="province" />
        <result column="city" jdbcType="VARCHAR" property="city" />
        <result column="education" jdbcType="VARCHAR" property="education" />
    </resultMap>
	
	<sql id="column_list">
        ${tab}userid, ${tab}unioncode, ${tab}sex, ${tab}birthday, ${tab}address, ${tab}postcode, ${tab}province, ${tab}city, ${tab}education
	</sql>
  
    <insert id="insert" parameterType="org.oversky.gurms.system.entity.SysUserInfo">
        insert into sys_user_info (<include refid="column_list"><property name="tab" value=""/></include>)
        values (#{userid, jdbcType=DECIMAL}, #{unioncode, jdbcType=VARCHAR}, #{sex, jdbcType=VARCHAR}, #{birthday, jdbcType=VARCHAR}, #{address, jdbcType=VARCHAR}, #{postcode, jdbcType=VARCHAR}, #{province, jdbcType=VARCHAR}, #{city, jdbcType=VARCHAR}, #{education, jdbcType=VARCHAR})
    </insert>
  
    <select id="selectWhere" parameterType="org.oversky.gurms.system.entity.SysUserInfo" resultMap="BaseResultMap">
        select <include refid="column_list"><property name="tab" value=""/></include>
          from sys_user_info
		<where>
			<if test="userid != null ">
				and userid = #{userid, jdbcType=DECIMAL}
			</if>
			<if test="unioncode != null  and unioncode !='' ">
				and unioncode = #{unioncode, jdbcType=VARCHAR}
			</if>
			<if test="sex != null  and sex !='' ">
				and sex = #{sex, jdbcType=VARCHAR}
			</if>
			<if test="birthday != null  and birthday !='' ">
				and birthday = #{birthday, jdbcType=VARCHAR}
			</if>
			<if test="address != null  and address !='' ">
				and address = #{address, jdbcType=VARCHAR}
			</if>
			<if test="postcode != null  and postcode !='' ">
				and postcode = #{postcode, jdbcType=VARCHAR}
			</if>
			<if test="province != null  and province !='' ">
				and province = #{province, jdbcType=VARCHAR}
			</if>
			<if test="city != null  and city !='' ">
				and city = #{city, jdbcType=VARCHAR}
			</if>
			<if test="education != null  and education !='' ">
				and education = #{education, jdbcType=VARCHAR}
			</if>
		</where>
    </select>

	<select id="count" resultType="int" parameterType="org.oversky.gurms.system.entity.SysUserInfo">
        select count(1) from sys_user_info
		<where>
			<if test="userid != null ">
				and userid = #{userid, jdbcType=DECIMAL}
			</if>
			<if test="unioncode != null  and unioncode !='' ">
				and unioncode = #{unioncode, jdbcType=VARCHAR}
			</if>
			<if test="sex != null  and sex !='' ">
				and sex = #{sex, jdbcType=VARCHAR}
			</if>
			<if test="birthday != null  and birthday !='' ">
				and birthday = #{birthday, jdbcType=VARCHAR}
			</if>
			<if test="address != null  and address !='' ">
				and address = #{address, jdbcType=VARCHAR}
			</if>
			<if test="postcode != null  and postcode !='' ">
				and postcode = #{postcode, jdbcType=VARCHAR}
			</if>
			<if test="province != null  and province !='' ">
				and province = #{province, jdbcType=VARCHAR}
			</if>
			<if test="city != null  and city !='' ">
				and city = #{city, jdbcType=VARCHAR}
			</if>
			<if test="education != null  and education !='' ">
				and education = #{education, jdbcType=VARCHAR}
			</if>
		</where>
	</select>

    <select id="selectAll" resultMap="BaseResultMap">
        select <include refid="column_list"><property name="tab" value=""/></include>
          from sys_user_info
    </select>

	<!-- mysql专属 -->
	<insert id="insertBatch" parameterType="java.util.List" useGeneratedKeys="false">
		insert all
		<foreach item="item" index="index" collection="list">
		into sys_user_info (<include refid="column_list"><property name="tab" value=""/></include>) 
		values (#{item.userid, jdbcType=DECIMAL}, #{item.unioncode, jdbcType=VARCHAR}, #{item.sex, jdbcType=VARCHAR}, #{item.birthday, jdbcType=VARCHAR}, #{item.address, jdbcType=VARCHAR}, #{item.postcode, jdbcType=VARCHAR}, #{item.province, jdbcType=VARCHAR}, #{item.city, jdbcType=VARCHAR}, #{item.education, jdbcType=VARCHAR})
		</foreach>
		select 1 from dual
	</insert>
	
    <select id="getById" resultMap="BaseResultMap">
        select <include refid="column_list"><property name="tab" value=""/></include>
          from sys_user_info
         where 1=1 and userid = #{0}
    </select>

    <delete id="deleteById">
        delete from sys_user_info
         where 1=1 and userid = #{0}
    </delete>
  
    <update id="updateById" parameterType="org.oversky.gurms.system.entity.SysUserInfo">
        update sys_user_info set 
               unioncode = #{unioncode, jdbcType=VARCHAR}, 
               sex = #{sex, jdbcType=VARCHAR}, 
               birthday = #{birthday, jdbcType=VARCHAR}, 
               address = #{address, jdbcType=VARCHAR}, 
               postcode = #{postcode, jdbcType=VARCHAR}, 
               province = #{province, jdbcType=VARCHAR}, 
               city = #{city, jdbcType=VARCHAR}, 
               education = #{education, jdbcType=VARCHAR}
         where 1=1 and userid = #{userid, jdbcType=DECIMAL}
    </update>

	<update id="dynamicUpdateById" parameterType="org.oversky.gurms.system.entity.SysUserInfo">
		update sys_user_info
		<set>
		    <if test="unioncode != null">
				unioncode = #{unioncode, jdbcType=VARCHAR},
		    </if>
		    <if test="sex != null">
				sex = #{sex, jdbcType=VARCHAR},
		    </if>
		    <if test="birthday != null">
				birthday = #{birthday, jdbcType=VARCHAR},
		    </if>
		    <if test="address != null">
				address = #{address, jdbcType=VARCHAR},
		    </if>
		    <if test="postcode != null">
				postcode = #{postcode, jdbcType=VARCHAR},
		    </if>
		    <if test="province != null">
				province = #{province, jdbcType=VARCHAR},
		    </if>
		    <if test="city != null">
				city = #{city, jdbcType=VARCHAR},
		    </if>
		    <if test="education != null">
				education = #{education, jdbcType=VARCHAR},
		    </if>
		</set>
		where 1=1 and userid = #{userid, jdbcType=DECIMAL}
	</update>
</mapper>