<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.oversky.gurms.system.dao.SysUserRoleDao">
    <resultMap id="BaseResultMap" type="org.oversky.gurms.system.entity.SysUserRole">
        <id column="userid" jdbcType="DECIMAL" property="userid" />
        <id column="roleid" jdbcType="INTEGER" property="roleid" />
    </resultMap>

    <insert id="insert" parameterType="org.oversky.gurms.system.entity.SysUserRole">
        insert into sys_user_role (<include refid="column_list"><property name="tab" value=""/></include>)
        values (#{userid, jdbcType=DECIMAL}, #{roleid, jdbcType=INTEGER})
    </insert>
  
	<!-- mysql专属 -->
	<insert id="insertBatch" parameterType="java.util.List" useGeneratedKeys="false">
		insert into sys_user_role (<include refid="column_list"><property name="tab" value=""/></include>) 
		values 
		<foreach item="item" index="index" collection="list" separator=",">
		(#{item.userid, jdbcType=DECIMAL}, #{item.roleid, jdbcType=INTEGER})
		</foreach>
	</insert>
	
    <select id="selectWhere" parameterType="org.oversky.gurms.system.entity.SysUserRole" resultMap="BaseResultMap">
        select <include refid="column_list"><property name="tab" value=""/></include>
          from sys_user_role 
          <include refid="where_all_list" />
    </select>

    <delete id="deleteWhere" parameterType="org.oversky.gurms.system.entity.SysUserRole">
        delete from sys_user_role 
          <include refid="where_all_list" />
    </delete>

	<select id="count" resultType="int" parameterType="org.oversky.gurms.system.entity.SysUserRole">
        select count(1) from sys_user_role <include refid="where_all_list" />
	</select>

    <select id="selectAll" resultMap="BaseResultMap">
        select <include refid="column_list"><property name="tab" value=""/></include>
          from sys_user_role
    </select>

    <select id="getById" resultMap="BaseResultMap">
        select <include refid="column_list"><property name="tab" value=""/></include>
          from sys_user_role
         where userid = #{0} and roleid = #{1}
    </select>

    <delete id="deleteById">
        delete from sys_user_role
         where userid = #{0} and roleid = #{1}
    </delete>
  


	<sql id="column_list">
        ${tab}userid, ${tab}roleid
	</sql>
	
	<sql id="where_all_list">
		<where>
			<if test="userid != null">
				and userid = #{userid, jdbcType=DECIMAL}
			</if>
			<if test="roleid != null">
				and roleid = #{roleid, jdbcType=INTEGER}
			</if>
		</where>
	</sql>
</mapper>