<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.oversky.gurms.system.dao.SysUserDao">
    <resultMap id="BaseResultMap" type="org.oversky.gurms.system.entity.SysUser">
        <id column="userid" jdbcType="DECIMAL" property="userid" />
        <result column="unioncode" jdbcType="VARCHAR" property="unioncode" />
        <result column="username" jdbcType="VARCHAR" property="username" />
        <result column="loginid" jdbcType="VARCHAR" property="loginid" />
        <result column="loginpasswd" jdbcType="VARCHAR" property="loginpasswd" />
        <result column="salt" jdbcType="VARCHAR" property="salt" />
        <result column="passwdvaliddate" jdbcType="VARCHAR" property="passwdvaliddate" />
        <result column="mobileno" jdbcType="VARCHAR" property="mobileno" />
        <result column="email" jdbcType="VARCHAR" property="email" />
        <result column="orgid" jdbcType="INTEGER" property="orgid" />
        <result column="idtype" jdbcType="VARCHAR" property="idtype" />
        <result column="idcode" jdbcType="VARCHAR" property="idcode" />
        <result column="idname" jdbcType="VARCHAR" property="idname" />
        <result column="logindate" jdbcType="VARCHAR" property="logindate" />
        <result column="logintime" jdbcType="VARCHAR" property="logintime" />
        <result column="status" jdbcType="INTEGER" property="status" />
        <result column="loginerror" jdbcType="INTEGER" property="loginerror" />
        <result column="opendate" jdbcType="VARCHAR" property="opendate" />
        <result column="canceldate" jdbcType="VARCHAR" property="canceldate" />
    </resultMap>

    <insert id="insert" parameterType="org.oversky.gurms.system.entity.SysUser" useGeneratedKeys="true" keyProperty="userid">
        insert into sys_user (unioncode, username, loginid, loginpasswd, salt, passwdvaliddate, mobileno, email, orgid, idtype, idcode, idname, logindate, logintime, status, loginerror, opendate, canceldate)
        values (#{unioncode, jdbcType=VARCHAR}, #{username, jdbcType=VARCHAR}, #{loginid, jdbcType=VARCHAR}, #{loginpasswd, jdbcType=VARCHAR}, #{salt, jdbcType=VARCHAR}, #{passwdvaliddate, jdbcType=VARCHAR}, #{mobileno, jdbcType=VARCHAR}, #{email, jdbcType=VARCHAR}, #{orgid, jdbcType=INTEGER}, #{idtype, jdbcType=VARCHAR}, #{idcode, jdbcType=VARCHAR}, #{idname, jdbcType=VARCHAR}, #{logindate, jdbcType=VARCHAR}, #{logintime, jdbcType=VARCHAR}, #{status, jdbcType=INTEGER}, #{loginerror, jdbcType=INTEGER}, #{opendate, jdbcType=VARCHAR}, #{canceldate, jdbcType=VARCHAR})
    </insert>
  
	<insert id="insertBatch" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="userid">
		insert into sys_user (unioncode, username, loginid, loginpasswd, salt, passwdvaliddate, mobileno, email, orgid, idtype, idcode, idname, logindate, logintime, status, loginerror, opendate, canceldate)
		values 
		<foreach item="item" index="index" collection="list" separator=",">
        (#{item.unioncode, jdbcType=VARCHAR}, #{item.username, jdbcType=VARCHAR}, #{item.loginid, jdbcType=VARCHAR}, #{item.loginpasswd, jdbcType=VARCHAR}, #{item.salt, jdbcType=VARCHAR}, #{item.passwdvaliddate, jdbcType=VARCHAR}, #{item.mobileno, jdbcType=VARCHAR}, #{item.email, jdbcType=VARCHAR}, #{item.orgid, jdbcType=INTEGER}, #{item.idtype, jdbcType=VARCHAR}, #{item.idcode, jdbcType=VARCHAR}, #{item.idname, jdbcType=VARCHAR}, #{item.logindate, jdbcType=VARCHAR}, #{item.logintime, jdbcType=VARCHAR}, #{item.status, jdbcType=INTEGER}, #{item.loginerror, jdbcType=INTEGER}, #{item.opendate, jdbcType=VARCHAR}, #{item.canceldate, jdbcType=VARCHAR})
		</foreach>
	</insert>
	
    <select id="selectWhere" parameterType="org.oversky.gurms.system.entity.SysUser" resultMap="BaseResultMap">
        select <include refid="column_list"><property name="tab" value=""/></include>
          from sys_user 
          <include refid="where_all_list" />
    </select>

    <delete id="deleteWhere" parameterType="org.oversky.gurms.system.entity.SysUser">
        delete from sys_user 
          <include refid="where_all_list" />
    </delete>

	<select id="count" resultType="int" parameterType="org.oversky.gurms.system.entity.SysUser">
        select count(1) from sys_user <include refid="where_all_list" />
	</select>

    <select id="selectAll" resultMap="BaseResultMap">
        select <include refid="column_list"><property name="tab" value=""/></include>
          from sys_user
    </select>

    <select id="getById" resultMap="BaseResultMap">
        select <include refid="column_list"><property name="tab" value=""/></include>
          from sys_user
         where userid = #{param1}
    </select>

    <delete id="deleteById">
        delete from sys_user
         where userid = #{param1}
    </delete>
  
    <update id="updateById" parameterType="org.oversky.gurms.system.entity.SysUser">
        update sys_user set 
               unioncode = #{unioncode, jdbcType=VARCHAR}, 
               username = #{username, jdbcType=VARCHAR}, 
               loginid = #{loginid, jdbcType=VARCHAR}, 
               loginpasswd = #{loginpasswd, jdbcType=VARCHAR}, 
               salt = #{salt, jdbcType=VARCHAR}, 
               passwdvaliddate = #{passwdvaliddate, jdbcType=VARCHAR}, 
               mobileno = #{mobileno, jdbcType=VARCHAR}, 
               email = #{email, jdbcType=VARCHAR}, 
               orgid = #{orgid, jdbcType=INTEGER}, 
               idtype = #{idtype, jdbcType=VARCHAR}, 
               idcode = #{idcode, jdbcType=VARCHAR}, 
               idname = #{idname, jdbcType=VARCHAR}, 
               logindate = #{logindate, jdbcType=VARCHAR}, 
               logintime = #{logintime, jdbcType=VARCHAR}, 
               status = #{status, jdbcType=INTEGER}, 
               loginerror = #{loginerror, jdbcType=INTEGER}, 
               opendate = #{opendate, jdbcType=VARCHAR}, 
               canceldate = #{canceldate, jdbcType=VARCHAR}
		where userid = #{userid, jdbcType=DECIMAL}
    </update>

	<update id="dynamicUpdateById" parameterType="org.oversky.gurms.system.entity.SysUser">
		update sys_user
		<set>
		    <if test="unioncode != null">
				unioncode = #{unioncode, jdbcType=VARCHAR},
		    </if>
		    <if test="username != null">
				username = #{username, jdbcType=VARCHAR},
		    </if>
		    <if test="loginid != null">
				loginid = #{loginid, jdbcType=VARCHAR},
		    </if>
		    <if test="loginpasswd != null">
				loginpasswd = #{loginpasswd, jdbcType=VARCHAR},
		    </if>
		    <if test="salt != null">
				salt = #{salt, jdbcType=VARCHAR},
		    </if>
		    <if test="passwdvaliddate != null">
				passwdvaliddate = #{passwdvaliddate, jdbcType=VARCHAR},
		    </if>
		    <if test="mobileno != null">
				mobileno = #{mobileno, jdbcType=VARCHAR},
		    </if>
		    <if test="email != null">
				email = #{email, jdbcType=VARCHAR},
		    </if>
		    <if test="orgid != null">
				orgid = #{orgid, jdbcType=INTEGER},
		    </if>
		    <if test="idtype != null">
				idtype = #{idtype, jdbcType=VARCHAR},
		    </if>
		    <if test="idcode != null">
				idcode = #{idcode, jdbcType=VARCHAR},
		    </if>
		    <if test="idname != null">
				idname = #{idname, jdbcType=VARCHAR},
		    </if>
		    <if test="logindate != null">
				logindate = #{logindate, jdbcType=VARCHAR},
		    </if>
		    <if test="logintime != null">
				logintime = #{logintime, jdbcType=VARCHAR},
		    </if>
		    <if test="status != null">
				status = #{status, jdbcType=INTEGER},
		    </if>
		    <if test="loginerror != null">
				loginerror = #{loginerror, jdbcType=INTEGER},
		    </if>
		    <if test="opendate != null">
				opendate = #{opendate, jdbcType=VARCHAR},
		    </if>
		    <if test="canceldate != null">
				canceldate = #{canceldate, jdbcType=VARCHAR},
		    </if>
		</set>
		where userid = #{userid, jdbcType=DECIMAL}
	</update>

	<update id="updateBatch" parameterType="java.util.List">
	    update sys_user
	    <trim prefix="set" suffixOverrides=",">	
	        <trim prefix="unioncode = case" suffix="end,">
	            <foreach collection="list" item="item" index="index">
	                <if test="item.unioncode != null">
	                    when userid = #{item.userid} then #{item.unioncode, jdbcType=VARCHAR}
	                </if>
	                <if test="item.unioncode == null">
	                    when userid = #{item.userid} then unioncode
	                </if>
	            </foreach>
	        </trim>
	        <trim prefix="username = case" suffix="end,">
	            <foreach collection="list" item="item" index="index">
	                <if test="item.username != null">
	                    when userid = #{item.userid} then #{item.username, jdbcType=VARCHAR}
	                </if>
	                <if test="item.username == null">
	                    when userid = #{item.userid} then username
	                </if>
	            </foreach>
	        </trim>
	        <trim prefix="loginid = case" suffix="end,">
	            <foreach collection="list" item="item" index="index">
	                <if test="item.loginid != null">
	                    when userid = #{item.userid} then #{item.loginid, jdbcType=VARCHAR}
	                </if>
	                <if test="item.loginid == null">
	                    when userid = #{item.userid} then loginid
	                </if>
	            </foreach>
	        </trim>
	        <trim prefix="loginpasswd = case" suffix="end,">
	            <foreach collection="list" item="item" index="index">
	                <if test="item.loginpasswd != null">
	                    when userid = #{item.userid} then #{item.loginpasswd, jdbcType=VARCHAR}
	                </if>
	                <if test="item.loginpasswd == null">
	                    when userid = #{item.userid} then loginpasswd
	                </if>
	            </foreach>
	        </trim>
	        <trim prefix="salt = case" suffix="end,">
	            <foreach collection="list" item="item" index="index">
	                <if test="item.salt != null">
	                    when userid = #{item.userid} then #{item.salt, jdbcType=VARCHAR}
	                </if>
	                <if test="item.salt == null">
	                    when userid = #{item.userid} then salt
	                </if>
	            </foreach>
	        </trim>
	        <trim prefix="passwdvaliddate = case" suffix="end,">
	            <foreach collection="list" item="item" index="index">
	                <if test="item.passwdvaliddate != null">
	                    when userid = #{item.userid} then #{item.passwdvaliddate, jdbcType=VARCHAR}
	                </if>
	                <if test="item.passwdvaliddate == null">
	                    when userid = #{item.userid} then passwdvaliddate
	                </if>
	            </foreach>
	        </trim>
	        <trim prefix="mobileno = case" suffix="end,">
	            <foreach collection="list" item="item" index="index">
	                <if test="item.mobileno != null">
	                    when userid = #{item.userid} then #{item.mobileno, jdbcType=VARCHAR}
	                </if>
	                <if test="item.mobileno == null">
	                    when userid = #{item.userid} then mobileno
	                </if>
	            </foreach>
	        </trim>
	        <trim prefix="email = case" suffix="end,">
	            <foreach collection="list" item="item" index="index">
	                <if test="item.email != null">
	                    when userid = #{item.userid} then #{item.email, jdbcType=VARCHAR}
	                </if>
	                <if test="item.email == null">
	                    when userid = #{item.userid} then email
	                </if>
	            </foreach>
	        </trim>
	        <trim prefix="orgid = case" suffix="end,">
	            <foreach collection="list" item="item" index="index">
	                <if test="item.orgid != null">
	                    when userid = #{item.userid} then #{item.orgid, jdbcType=INTEGER}
	                </if>
	                <if test="item.orgid == null">
	                    when userid = #{item.userid} then orgid
	                </if>
	            </foreach>
	        </trim>
	        <trim prefix="idtype = case" suffix="end,">
	            <foreach collection="list" item="item" index="index">
	                <if test="item.idtype != null">
	                    when userid = #{item.userid} then #{item.idtype, jdbcType=VARCHAR}
	                </if>
	                <if test="item.idtype == null">
	                    when userid = #{item.userid} then idtype
	                </if>
	            </foreach>
	        </trim>
	        <trim prefix="idcode = case" suffix="end,">
	            <foreach collection="list" item="item" index="index">
	                <if test="item.idcode != null">
	                    when userid = #{item.userid} then #{item.idcode, jdbcType=VARCHAR}
	                </if>
	                <if test="item.idcode == null">
	                    when userid = #{item.userid} then idcode
	                </if>
	            </foreach>
	        </trim>
	        <trim prefix="idname = case" suffix="end,">
	            <foreach collection="list" item="item" index="index">
	                <if test="item.idname != null">
	                    when userid = #{item.userid} then #{item.idname, jdbcType=VARCHAR}
	                </if>
	                <if test="item.idname == null">
	                    when userid = #{item.userid} then idname
	                </if>
	            </foreach>
	        </trim>
	        <trim prefix="logindate = case" suffix="end,">
	            <foreach collection="list" item="item" index="index">
	                <if test="item.logindate != null">
	                    when userid = #{item.userid} then #{item.logindate, jdbcType=VARCHAR}
	                </if>
	                <if test="item.logindate == null">
	                    when userid = #{item.userid} then logindate
	                </if>
	            </foreach>
	        </trim>
	        <trim prefix="logintime = case" suffix="end,">
	            <foreach collection="list" item="item" index="index">
	                <if test="item.logintime != null">
	                    when userid = #{item.userid} then #{item.logintime, jdbcType=VARCHAR}
	                </if>
	                <if test="item.logintime == null">
	                    when userid = #{item.userid} then logintime
	                </if>
	            </foreach>
	        </trim>
	        <trim prefix="status = case" suffix="end,">
	            <foreach collection="list" item="item" index="index">
	                <if test="item.status != null">
	                    when userid = #{item.userid} then #{item.status, jdbcType=INTEGER}
	                </if>
	                <if test="item.status == null">
	                    when userid = #{item.userid} then status
	                </if>
	            </foreach>
	        </trim>
	        <trim prefix="loginerror = case" suffix="end,">
	            <foreach collection="list" item="item" index="index">
	                <if test="item.loginerror != null">
	                    when userid = #{item.userid} then #{item.loginerror, jdbcType=INTEGER}
	                </if>
	                <if test="item.loginerror == null">
	                    when userid = #{item.userid} then loginerror
	                </if>
	            </foreach>
	        </trim>
	        <trim prefix="opendate = case" suffix="end,">
	            <foreach collection="list" item="item" index="index">
	                <if test="item.opendate != null">
	                    when userid = #{item.userid} then #{item.opendate, jdbcType=VARCHAR}
	                </if>
	                <if test="item.opendate == null">
	                    when userid = #{item.userid} then opendate
	                </if>
	            </foreach>
	        </trim>
	        <trim prefix="canceldate = case" suffix="end,">
	            <foreach collection="list" item="item" index="index">
	                <if test="item.canceldate != null">
	                    when userid = #{item.userid} then #{item.canceldate, jdbcType=VARCHAR}
	                </if>
	                <if test="item.canceldate == null">
	                    when userid = #{item.userid} then canceldate
	                </if>
	            </foreach>
	        </trim>
	    </trim>
	    where userid in
	    <foreach collection="list" index="index" item="item" separator="," open="(" close=")">
	        #{item.userid}
	    </foreach>
	</update>
	
	<delete id="deleteBatch">
	    delete from sys_user
	     where userid in
	    <foreach collection="array" item="id" separator="," open="(" close=")">
	        #{id}
	    </foreach>
	</delete>

	<sql id="column_list">
        ${tab}userid, ${tab}unioncode, ${tab}username, ${tab}loginid, ${tab}loginpasswd, ${tab}salt, ${tab}passwdvaliddate, ${tab}mobileno, ${tab}email, ${tab}orgid, ${tab}idtype, ${tab}idcode, ${tab}idname, ${tab}logindate, ${tab}logintime, ${tab}status, ${tab}loginerror, ${tab}opendate, ${tab}canceldate
	</sql>
	
	<sql id="where_all_list">
		<where>
			<if test="userid != null">
				and userid = #{userid, jdbcType=DECIMAL}
			</if>
			<if test="unioncode != null and unioncode != ''">
				and unioncode = #{unioncode, jdbcType=VARCHAR}
			</if>
			<if test="username != null and username != ''">
				and username = #{username, jdbcType=VARCHAR}
			</if>
			<if test="loginid != null and loginid != ''">
				and loginid = #{loginid, jdbcType=VARCHAR}
			</if>
			<if test="loginpasswd != null and loginpasswd != ''">
				and loginpasswd = #{loginpasswd, jdbcType=VARCHAR}
			</if>
			<if test="salt != null and salt != ''">
				and salt = #{salt, jdbcType=VARCHAR}
			</if>
			<if test="passwdvaliddate != null and passwdvaliddate != ''">
				and passwdvaliddate = #{passwdvaliddate, jdbcType=VARCHAR}
			</if>
			<if test="mobileno != null and mobileno != ''">
				and mobileno = #{mobileno, jdbcType=VARCHAR}
			</if>
			<if test="email != null and email != ''">
				and email = #{email, jdbcType=VARCHAR}
			</if>
			<if test="orgid != null">
				and orgid = #{orgid, jdbcType=INTEGER}
			</if>
			<if test="idtype != null and idtype != ''">
				and idtype = #{idtype, jdbcType=VARCHAR}
			</if>
			<if test="idcode != null and idcode != ''">
				and idcode = #{idcode, jdbcType=VARCHAR}
			</if>
			<if test="idname != null and idname != ''">
				and idname = #{idname, jdbcType=VARCHAR}
			</if>
			<if test="logindate != null and logindate != ''">
				and logindate = #{logindate, jdbcType=VARCHAR}
			</if>
			<if test="logintime != null and logintime != ''">
				and logintime = #{logintime, jdbcType=VARCHAR}
			</if>
			<if test="status != null">
				and status = #{status, jdbcType=INTEGER}
			</if>
			<if test="loginerror != null">
				and loginerror = #{loginerror, jdbcType=INTEGER}
			</if>
			<if test="opendate != null and opendate != ''">
				and opendate = #{opendate, jdbcType=VARCHAR}
			</if>
			<if test="canceldate != null and canceldate != ''">
				and canceldate = #{canceldate, jdbcType=VARCHAR}
			</if>
		</where>
	</sql>
</mapper>