<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.oversky.dreamland.dao.game.GameSuitInfoDao">
    <resultMap id="BaseResultMap" type="org.oversky.dreamland.entity.game.GameSuitInfo">
        <id column="suitid" jdbcType="DECIMAL" property="suitid" />
        <result column="suitname" jdbcType="VARCHAR" property="suitname" />
        <result column="profession" jdbcType="VARCHAR" property="profession" />
        <result column="unlocklevel" jdbcType="INTEGER" property="unlocklevel" />
        <result column="summary" jdbcType="VARCHAR" property="summary" />
    </resultMap>

    <insert id="insert" parameterType="org.oversky.dreamland.entity.game.GameSuitInfo" useGeneratedKeys="true" keyProperty="suitid">
        insert into game_suit_info (suitname, profession, unlocklevel, summary)
        values (#{suitname, jdbcType=VARCHAR}, #{profession, jdbcType=VARCHAR}, #{unlocklevel, jdbcType=INTEGER}, #{summary, jdbcType=VARCHAR})
    </insert>
  
	<insert id="insertBatch" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="suitid">
		insert into game_suit_info (suitname, profession, unlocklevel, summary)
		values 
		<foreach item="item" index="index" collection="list" separator=",">
        (#{item.suitname, jdbcType=VARCHAR}, #{item.profession, jdbcType=VARCHAR}, #{item.unlocklevel, jdbcType=INTEGER}, #{item.summary, jdbcType=VARCHAR})
		</foreach>
	</insert>
	
    <select id="selectWhere" parameterType="org.oversky.dreamland.entity.game.GameSuitInfo" resultMap="BaseResultMap">
        select <include refid="column_list"><property name="tab" value=""/></include>
          from game_suit_info 
          <include refid="where_all_list" />
          <include refid="orderby_list" />
    </select>

    <delete id="deleteWhere" parameterType="org.oversky.dreamland.entity.game.GameSuitInfo">
        delete from game_suit_info 
          <include refid="where_all_list" />
    </delete>

	<select id="count" resultType="int" parameterType="org.oversky.dreamland.entity.game.GameSuitInfo">
        select count(1) from game_suit_info <include refid="where_all_list" />
	</select>

    <select id="selectAll" resultMap="BaseResultMap">
        select <include refid="column_list"><property name="tab" value=""/></include>
          from game_suit_info
          <include refid="orderby_list" />
    </select>

    <select id="getById" resultMap="BaseResultMap">
        select <include refid="column_list"><property name="tab" value=""/></include>
          from game_suit_info
         where suitid = #{param1}
    </select>

    <delete id="deleteById">
        delete from game_suit_info
         where suitid = #{param1}
    </delete>
  
    <update id="updateById" parameterType="org.oversky.dreamland.entity.game.GameSuitInfo">
        update game_suit_info set 
               suitname = #{suitname, jdbcType=VARCHAR}, 
               profession = #{profession, jdbcType=VARCHAR}, 
               unlocklevel = #{unlocklevel, jdbcType=INTEGER}, 
               summary = #{summary, jdbcType=VARCHAR}
		where suitid = #{suitid, jdbcType=DECIMAL}
    </update>

	<update id="dynamicUpdateById" parameterType="org.oversky.dreamland.entity.game.GameSuitInfo">
		update game_suit_info
		<set>
		    <if test="suitname != null">
				suitname = #{suitname, jdbcType=VARCHAR},
		    </if>
		    <if test="profession != null">
				profession = #{profession, jdbcType=VARCHAR},
		    </if>
		    <if test="unlocklevel != null">
				unlocklevel = #{unlocklevel, jdbcType=INTEGER},
		    </if>
		    <if test="summary != null">
				summary = #{summary, jdbcType=VARCHAR},
		    </if>
		</set>
		where suitid = #{suitid, jdbcType=DECIMAL}
	</update>

	<update id="dynamicUpdateWhere" parameterType="map">
		update game_suit_info
		<set>
		    <if test="field.suitname != null and field.suitname != ''">
				suitname = #{field.suitname, jdbcType=VARCHAR},
		    </if>
		    <if test="field.profession != null and field.profession != ''">
				profession = #{field.profession, jdbcType=VARCHAR},
		    </if>
		    <if test="field.unlocklevel != null">
				unlocklevel = #{field.unlocklevel, jdbcType=INTEGER},
		    </if>
		    <if test="field.summary != null and field.summary != ''">
				summary = #{field.summary, jdbcType=VARCHAR},
		    </if>
		</set>
        <include refid="where_all_list_criteria" />
	</update>

	<update id="updateBatch" parameterType="java.util.List">
	    update game_suit_info
	    <trim prefix="set" suffixOverrides=",">	
	        <trim prefix="suitname = case" suffix="end,">
	            <foreach collection="list" item="item" index="index">
	                <if test="item.suitname != null">
	                    when suitid = #{item.suitid} then #{item.suitname, jdbcType=VARCHAR}
	                </if>
	                <if test="item.suitname == null">
	                    when suitid = #{item.suitid} then suitname
	                </if>
	            </foreach>
	        </trim>
	        <trim prefix="profession = case" suffix="end,">
	            <foreach collection="list" item="item" index="index">
	                <if test="item.profession != null">
	                    when suitid = #{item.suitid} then #{item.profession, jdbcType=VARCHAR}
	                </if>
	                <if test="item.profession == null">
	                    when suitid = #{item.suitid} then profession
	                </if>
	            </foreach>
	        </trim>
	        <trim prefix="unlocklevel = case" suffix="end,">
	            <foreach collection="list" item="item" index="index">
	                <if test="item.unlocklevel != null">
	                    when suitid = #{item.suitid} then #{item.unlocklevel, jdbcType=INTEGER}
	                </if>
	                <if test="item.unlocklevel == null">
	                    when suitid = #{item.suitid} then unlocklevel
	                </if>
	            </foreach>
	        </trim>
	        <trim prefix="summary = case" suffix="end,">
	            <foreach collection="list" item="item" index="index">
	                <if test="item.summary != null">
	                    when suitid = #{item.suitid} then #{item.summary, jdbcType=VARCHAR}
	                </if>
	                <if test="item.summary == null">
	                    when suitid = #{item.suitid} then summary
	                </if>
	            </foreach>
	        </trim>
	    </trim>
	    where suitid in
	    <foreach collection="list" index="index" item="item" separator="," open="(" close=")">
	        #{item.suitid}
	    </foreach>
	</update>
	
	<delete id="deleteBatch">
	    delete from game_suit_info
	     where suitid in
	    <foreach collection="array" item="id" separator="," open="(" close=")">
	        #{id}
	    </foreach>
	</delete>

	<sql id="column_list">
        ${tab}suitid, ${tab}suitname, ${tab}profession, ${tab}unlocklevel, ${tab}summary
	</sql>
	
	<sql id="where_all_list">
		<where>
			<if test="suitid != null">
				and suitid = #{suitid, jdbcType=DECIMAL}
			</if>
			<if test="suitname != null and suitname != ''">
				and suitname = #{suitname, jdbcType=VARCHAR}
			</if>
			<if test="profession != null and profession != ''">
				and profession = #{profession, jdbcType=VARCHAR}
			</if>
			<if test="unlocklevel != null">
				and unlocklevel = #{unlocklevel, jdbcType=INTEGER}
			</if>
			<if test="summary != null and summary != ''">
				and summary = #{summary, jdbcType=VARCHAR}
			</if>
		</where>
	</sql>

	<sql id="where_all_list_criteria">
		<where>
			<if test="condition.suitid != null">
				and suitid = #{condition.suitid, jdbcType=DECIMAL}
			</if>
			<if test="condition.suitname != null and condition.suitname != ''">
				and suitname = #{condition.suitname, jdbcType=VARCHAR}
			</if>
			<if test="condition.profession != null and condition.profession != ''">
				and profession = #{condition.profession, jdbcType=VARCHAR}
			</if>
			<if test="condition.unlocklevel != null">
				and unlocklevel = #{condition.unlocklevel, jdbcType=INTEGER}
			</if>
			<if test="condition.summary != null and condition.summary != ''">
				and summary = #{condition.summary, jdbcType=VARCHAR}
			</if>
		</where>
	</sql>

	<sql id="orderby_list">
        <if test="orderByClause != null and orderByClause != ''">
            order by ${orderByClause}
        </if>
	</sql>
</mapper>