<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.oversky.dreamland.dao.game.GamePromotionInfoDao">
    <resultMap id="BaseResultMap" type="org.oversky.dreamland.entity.game.GamePromotionInfo">
        <id column="promid" jdbcType="INTEGER" property="promid" />
        <result column="promname" jdbcType="VARCHAR" property="promname" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />
    </resultMap>

    <insert id="insert" parameterType="org.oversky.dreamland.entity.game.GamePromotionInfo">
        insert into game_promotion_info (<include refid="column_list"><property name="tab" value=""/></include>)
        values (#{promid, jdbcType=INTEGER}, #{promname, jdbcType=VARCHAR}, #{remark, jdbcType=VARCHAR})
    </insert>
  
	<insert id="insertBatch" parameterType="java.util.List" useGeneratedKeys="false">
		insert into game_promotion_info (<include refid="column_list"><property name="tab" value=""/></include>) 
		values 
		<foreach item="item" index="index" collection="list" separator=",">
		(#{item.promid, jdbcType=INTEGER}, #{item.promname, jdbcType=VARCHAR}, #{item.remark, jdbcType=VARCHAR})
		</foreach>
	</insert>
	
    <select id="selectWhere" parameterType="org.oversky.dreamland.entity.game.GamePromotionInfo" resultMap="BaseResultMap">
        select <include refid="column_list"><property name="tab" value=""/></include>
          from game_promotion_info 
          <include refid="where_all_list" />
          <include refid="orderby_list" />
    </select>

    <delete id="deleteWhere" parameterType="org.oversky.dreamland.entity.game.GamePromotionInfo">
        delete from game_promotion_info 
          <include refid="where_all_list" />
    </delete>

	<select id="count" resultType="int" parameterType="org.oversky.dreamland.entity.game.GamePromotionInfo">
        select count(1) from game_promotion_info <include refid="where_all_list" />
	</select>

    <select id="selectAll" resultMap="BaseResultMap">
        select <include refid="column_list"><property name="tab" value=""/></include>
          from game_promotion_info
          <include refid="orderby_list" />
    </select>

    <select id="getById" resultMap="BaseResultMap">
        select <include refid="column_list"><property name="tab" value=""/></include>
          from game_promotion_info
         where promid = #{param1}
    </select>

    <delete id="deleteById">
        delete from game_promotion_info
         where promid = #{param1}
    </delete>
  
    <update id="updateById" parameterType="org.oversky.dreamland.entity.game.GamePromotionInfo">
        update game_promotion_info set 
               promname = #{promname, jdbcType=VARCHAR}, 
               remark = #{remark, jdbcType=VARCHAR}
		where promid = #{promid, jdbcType=INTEGER}
    </update>

	<update id="dynamicUpdateById" parameterType="org.oversky.dreamland.entity.game.GamePromotionInfo">
		update game_promotion_info
		<set>
		    <if test="promname != null">
				promname = #{promname, jdbcType=VARCHAR},
		    </if>
		    <if test="remark != null">
				remark = #{remark, jdbcType=VARCHAR},
		    </if>
		</set>
		where promid = #{promid, jdbcType=INTEGER}
	</update>

	<update id="dynamicUpdateWhere" parameterType="map">
		update game_promotion_info
		<set>
		    <if test="field.promname != null and field.promname != ''">
				promname = #{field.promname, jdbcType=VARCHAR},
		    </if>
		    <if test="field.remark != null and field.remark != ''">
				remark = #{field.remark, jdbcType=VARCHAR},
		    </if>
		</set>
        <include refid="where_all_list_criteria" />
	</update>

	<update id="updateBatch" parameterType="java.util.List">
	    update game_promotion_info
	    <trim prefix="set" suffixOverrides=",">	
	        <trim prefix="promname = case" suffix="end,">
	            <foreach collection="list" item="item" index="index">
	                <if test="item.promname != null">
	                    when promid = #{item.promid} then #{item.promname, jdbcType=VARCHAR}
	                </if>
	                <if test="item.promname == null">
	                    when promid = #{item.promid} then promname
	                </if>
	            </foreach>
	        </trim>
	        <trim prefix="remark = case" suffix="end,">
	            <foreach collection="list" item="item" index="index">
	                <if test="item.remark != null">
	                    when promid = #{item.promid} then #{item.remark, jdbcType=VARCHAR}
	                </if>
	                <if test="item.remark == null">
	                    when promid = #{item.promid} then remark
	                </if>
	            </foreach>
	        </trim>
	    </trim>
	    where promid in
	    <foreach collection="list" index="index" item="item" separator="," open="(" close=")">
	        #{item.promid}
	    </foreach>
	</update>
	
	<delete id="deleteBatch">
	    delete from game_promotion_info
	     where promid in
	    <foreach collection="array" item="id" separator="," open="(" close=")">
	        #{id}
	    </foreach>
	</delete>

	<sql id="column_list">
        ${tab}promid, ${tab}promname, ${tab}remark
	</sql>
	
	<sql id="where_all_list">
		<where>
			<if test="promid != null">
				and promid = #{promid, jdbcType=INTEGER}
			</if>
			<if test="promname != null and promname != ''">
				and promname = #{promname, jdbcType=VARCHAR}
			</if>
			<if test="remark != null and remark != ''">
				and remark = #{remark, jdbcType=VARCHAR}
			</if>
		</where>
	</sql>

	<sql id="where_all_list_criteria">
		<where>
			<if test="condition.promid != null">
				and promid = #{condition.promid, jdbcType=INTEGER}
			</if>
			<if test="condition.promname != null and condition.promname != ''">
				and promname = #{condition.promname, jdbcType=VARCHAR}
			</if>
			<if test="condition.remark != null and condition.remark != ''">
				and remark = #{condition.remark, jdbcType=VARCHAR}
			</if>
		</where>
	</sql>

	<sql id="orderby_list">
        <if test="orderByClause != null and orderByClause != ''">
            order by ${orderByClause}
        </if>
	</sql>
</mapper>