<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.oversky.dreamland.dao.game.GameAttributeInfoDao">
    <resultMap id="BaseResultMap" type="org.oversky.dreamland.entity.game.GameAttributeInfo">
        <id column="attrid" jdbcType="DECIMAL" property="attrid" />
        <result column="attrtype" jdbcType="VARCHAR" property="attrtype" />
        <result column="attrfield" jdbcType="INTEGER" property="attrfield" />
        <result column="unlockflag" jdbcType="VARCHAR" property="unlockflag" />
        <result column="extralact" jdbcType="VARCHAR" property="extralact" />
        <result column="extraltype" jdbcType="VARCHAR" property="extraltype" />
        <result column="extralmin" jdbcType="DOUBLE" property="extralmin" />
        <result column="extralmax" jdbcType="DOUBLE" property="extralmax" />
        <result column="initval" jdbcType="DOUBLE" property="initval" />
        <result column="upval" jdbcType="DOUBLE" property="upval" />
        <result column="position" jdbcType="VARCHAR" property="position" />
    </resultMap>

    <insert id="insert" parameterType="org.oversky.dreamland.entity.game.GameAttributeInfo">
        insert into game_attribute_info (<include refid="column_list"><property name="tab" value=""/></include>)
        values (#{attrid, jdbcType=DECIMAL}, #{attrtype, jdbcType=VARCHAR}, #{attrfield, jdbcType=INTEGER}, #{unlockflag, jdbcType=VARCHAR}, #{extralact, jdbcType=VARCHAR}, #{extraltype, jdbcType=VARCHAR}, #{extralmin, jdbcType=DOUBLE}, #{extralmax, jdbcType=DOUBLE}, #{initval, jdbcType=DOUBLE}, #{upval, jdbcType=DOUBLE}, #{position, jdbcType=VARCHAR})
    </insert>
  
	<insert id="insertBatch" parameterType="java.util.List" useGeneratedKeys="false">
		insert into game_attribute_info (<include refid="column_list"><property name="tab" value=""/></include>) 
		values 
		<foreach item="item" index="index" collection="list" separator=",">
		(#{item.attrid, jdbcType=DECIMAL}, #{item.attrtype, jdbcType=VARCHAR}, #{item.attrfield, jdbcType=INTEGER}, #{item.unlockflag, jdbcType=VARCHAR}, #{item.extralact, jdbcType=VARCHAR}, #{item.extraltype, jdbcType=VARCHAR}, #{item.extralmin, jdbcType=DOUBLE}, #{item.extralmax, jdbcType=DOUBLE}, #{item.initval, jdbcType=DOUBLE}, #{item.upval, jdbcType=DOUBLE}, #{item.position, jdbcType=VARCHAR})
		</foreach>
	</insert>
	
    <select id="selectWhere" parameterType="org.oversky.dreamland.entity.game.GameAttributeInfo" resultMap="BaseResultMap">
        select <include refid="column_list"><property name="tab" value=""/></include>
          from game_attribute_info 
          <include refid="where_all_list" />
          <include refid="orderby_list" />
    </select>

    <delete id="deleteWhere" parameterType="org.oversky.dreamland.entity.game.GameAttributeInfo">
        delete from game_attribute_info 
          <include refid="where_all_list" />
    </delete>

	<select id="count" resultType="int" parameterType="org.oversky.dreamland.entity.game.GameAttributeInfo">
        select count(1) from game_attribute_info <include refid="where_all_list" />
	</select>

    <select id="selectAll" resultMap="BaseResultMap">
        select <include refid="column_list"><property name="tab" value=""/></include>
          from game_attribute_info
          <include refid="orderby_list" />
    </select>

    <select id="getById" resultMap="BaseResultMap">
        select <include refid="column_list"><property name="tab" value=""/></include>
          from game_attribute_info
         where attrid = #{param1}
    </select>

    <delete id="deleteById">
        delete from game_attribute_info
         where attrid = #{param1}
    </delete>
  
    <update id="updateById" parameterType="org.oversky.dreamland.entity.game.GameAttributeInfo">
        update game_attribute_info set 
               attrtype = #{attrtype, jdbcType=VARCHAR}, 
               attrfield = #{attrfield, jdbcType=INTEGER}, 
               unlockflag = #{unlockflag, jdbcType=VARCHAR}, 
               extralact = #{extralact, jdbcType=VARCHAR}, 
               extraltype = #{extraltype, jdbcType=VARCHAR}, 
               extralmin = #{extralmin, jdbcType=DOUBLE}, 
               extralmax = #{extralmax, jdbcType=DOUBLE}, 
               initval = #{initval, jdbcType=DOUBLE}, 
               upval = #{upval, jdbcType=DOUBLE}, 
               position = #{position, jdbcType=VARCHAR}
		where attrid = #{attrid, jdbcType=DECIMAL}
    </update>

	<update id="dynamicUpdateById" parameterType="org.oversky.dreamland.entity.game.GameAttributeInfo">
		update game_attribute_info
		<set>
		    <if test="attrtype != null">
				attrtype = #{attrtype, jdbcType=VARCHAR},
		    </if>
		    <if test="attrfield != null">
				attrfield = #{attrfield, jdbcType=INTEGER},
		    </if>
		    <if test="unlockflag != null">
				unlockflag = #{unlockflag, jdbcType=VARCHAR},
		    </if>
		    <if test="extralact != null">
				extralact = #{extralact, jdbcType=VARCHAR},
		    </if>
		    <if test="extraltype != null">
				extraltype = #{extraltype, jdbcType=VARCHAR},
		    </if>
		    <if test="extralmin != null">
				extralmin = #{extralmin, jdbcType=DOUBLE},
		    </if>
		    <if test="extralmax != null">
				extralmax = #{extralmax, jdbcType=DOUBLE},
		    </if>
		    <if test="initval != null">
				initval = #{initval, jdbcType=DOUBLE},
		    </if>
		    <if test="upval != null">
				upval = #{upval, jdbcType=DOUBLE},
		    </if>
		    <if test="position != null">
				position = #{position, jdbcType=VARCHAR},
		    </if>
		</set>
		where attrid = #{attrid, jdbcType=DECIMAL}
	</update>

	<update id="dynamicUpdateWhere" parameterType="map">
		update game_attribute_info
		<set>
		    <if test="field.attrtype != null and field.attrtype != ''">
				attrtype = #{field.attrtype, jdbcType=VARCHAR},
		    </if>
		    <if test="field.attrfield != null">
				attrfield = #{field.attrfield, jdbcType=INTEGER},
		    </if>
		    <if test="field.unlockflag != null and field.unlockflag != ''">
				unlockflag = #{field.unlockflag, jdbcType=VARCHAR},
		    </if>
		    <if test="field.extralact != null and field.extralact != ''">
				extralact = #{field.extralact, jdbcType=VARCHAR},
		    </if>
		    <if test="field.extraltype != null and field.extraltype != ''">
				extraltype = #{field.extraltype, jdbcType=VARCHAR},
		    </if>
		    <if test="field.extralmin != null">
				extralmin = #{field.extralmin, jdbcType=DOUBLE},
		    </if>
		    <if test="field.extralmax != null">
				extralmax = #{field.extralmax, jdbcType=DOUBLE},
		    </if>
		    <if test="field.initval != null">
				initval = #{field.initval, jdbcType=DOUBLE},
		    </if>
		    <if test="field.upval != null">
				upval = #{field.upval, jdbcType=DOUBLE},
		    </if>
		    <if test="field.position != null and field.position != ''">
				position = #{field.position, jdbcType=VARCHAR},
		    </if>
		</set>
        <include refid="where_all_list_criteria" />
	</update>

	<update id="updateBatch" parameterType="java.util.List">
	    update game_attribute_info
	    <trim prefix="set" suffixOverrides=",">	
	        <trim prefix="attrtype = case" suffix="end,">
	            <foreach collection="list" item="item" index="index">
	                <if test="item.attrtype != null">
	                    when attrid = #{item.attrid} then #{item.attrtype, jdbcType=VARCHAR}
	                </if>
	                <if test="item.attrtype == null">
	                    when attrid = #{item.attrid} then attrtype
	                </if>
	            </foreach>
	        </trim>
	        <trim prefix="attrfield = case" suffix="end,">
	            <foreach collection="list" item="item" index="index">
	                <if test="item.attrfield != null">
	                    when attrid = #{item.attrid} then #{item.attrfield, jdbcType=INTEGER}
	                </if>
	                <if test="item.attrfield == null">
	                    when attrid = #{item.attrid} then attrfield
	                </if>
	            </foreach>
	        </trim>
	        <trim prefix="unlockflag = case" suffix="end,">
	            <foreach collection="list" item="item" index="index">
	                <if test="item.unlockflag != null">
	                    when attrid = #{item.attrid} then #{item.unlockflag, jdbcType=VARCHAR}
	                </if>
	                <if test="item.unlockflag == null">
	                    when attrid = #{item.attrid} then unlockflag
	                </if>
	            </foreach>
	        </trim>
	        <trim prefix="extralact = case" suffix="end,">
	            <foreach collection="list" item="item" index="index">
	                <if test="item.extralact != null">
	                    when attrid = #{item.attrid} then #{item.extralact, jdbcType=VARCHAR}
	                </if>
	                <if test="item.extralact == null">
	                    when attrid = #{item.attrid} then extralact
	                </if>
	            </foreach>
	        </trim>
	        <trim prefix="extraltype = case" suffix="end,">
	            <foreach collection="list" item="item" index="index">
	                <if test="item.extraltype != null">
	                    when attrid = #{item.attrid} then #{item.extraltype, jdbcType=VARCHAR}
	                </if>
	                <if test="item.extraltype == null">
	                    when attrid = #{item.attrid} then extraltype
	                </if>
	            </foreach>
	        </trim>
	        <trim prefix="extralmin = case" suffix="end,">
	            <foreach collection="list" item="item" index="index">
	                <if test="item.extralmin != null">
	                    when attrid = #{item.attrid} then #{item.extralmin, jdbcType=DOUBLE}
	                </if>
	                <if test="item.extralmin == null">
	                    when attrid = #{item.attrid} then extralmin
	                </if>
	            </foreach>
	        </trim>
	        <trim prefix="extralmax = case" suffix="end,">
	            <foreach collection="list" item="item" index="index">
	                <if test="item.extralmax != null">
	                    when attrid = #{item.attrid} then #{item.extralmax, jdbcType=DOUBLE}
	                </if>
	                <if test="item.extralmax == null">
	                    when attrid = #{item.attrid} then extralmax
	                </if>
	            </foreach>
	        </trim>
	        <trim prefix="initval = case" suffix="end,">
	            <foreach collection="list" item="item" index="index">
	                <if test="item.initval != null">
	                    when attrid = #{item.attrid} then #{item.initval, jdbcType=DOUBLE}
	                </if>
	                <if test="item.initval == null">
	                    when attrid = #{item.attrid} then initval
	                </if>
	            </foreach>
	        </trim>
	        <trim prefix="upval = case" suffix="end,">
	            <foreach collection="list" item="item" index="index">
	                <if test="item.upval != null">
	                    when attrid = #{item.attrid} then #{item.upval, jdbcType=DOUBLE}
	                </if>
	                <if test="item.upval == null">
	                    when attrid = #{item.attrid} then upval
	                </if>
	            </foreach>
	        </trim>
	        <trim prefix="position = case" suffix="end,">
	            <foreach collection="list" item="item" index="index">
	                <if test="item.position != null">
	                    when attrid = #{item.attrid} then #{item.position, jdbcType=VARCHAR}
	                </if>
	                <if test="item.position == null">
	                    when attrid = #{item.attrid} then position
	                </if>
	            </foreach>
	        </trim>
	    </trim>
	    where attrid in
	    <foreach collection="list" index="index" item="item" separator="," open="(" close=")">
	        #{item.attrid}
	    </foreach>
	</update>
	
	<delete id="deleteBatch">
	    delete from game_attribute_info
	     where attrid in
	    <foreach collection="array" item="id" separator="," open="(" close=")">
	        #{id}
	    </foreach>
	</delete>

	<sql id="column_list">
        ${tab}attrid, ${tab}attrtype, ${tab}attrfield, ${tab}unlockflag, ${tab}extralact, ${tab}extraltype, ${tab}extralmin, ${tab}extralmax, ${tab}initval, ${tab}upval, ${tab}position
	</sql>
	
	<sql id="where_all_list">
		<where>
			<if test="attrid != null">
				and attrid = #{attrid, jdbcType=DECIMAL}
			</if>
			<if test="attrtype != null and attrtype != ''">
				and attrtype = #{attrtype, jdbcType=VARCHAR}
			</if>
			<if test="attrfield != null">
				and attrfield = #{attrfield, jdbcType=INTEGER}
			</if>
			<if test="unlockflag != null and unlockflag != ''">
				and unlockflag = #{unlockflag, jdbcType=VARCHAR}
			</if>
			<if test="extralact != null and extralact != ''">
				and extralact = #{extralact, jdbcType=VARCHAR}
			</if>
			<if test="extraltype != null and extraltype != ''">
				and extraltype = #{extraltype, jdbcType=VARCHAR}
			</if>
			<if test="extralmin != null">
				and extralmin = #{extralmin, jdbcType=DOUBLE}
			</if>
			<if test="extralmax != null">
				and extralmax = #{extralmax, jdbcType=DOUBLE}
			</if>
			<if test="initval != null">
				and initval = #{initval, jdbcType=DOUBLE}
			</if>
			<if test="upval != null">
				and upval = #{upval, jdbcType=DOUBLE}
			</if>
			<if test="position != null and position != ''">
				and position = #{position, jdbcType=VARCHAR}
			</if>
		</where>
	</sql>

	<sql id="where_all_list_criteria">
		<where>
			<if test="condition.attrid != null">
				and attrid = #{condition.attrid, jdbcType=DECIMAL}
			</if>
			<if test="condition.attrtype != null and condition.attrtype != ''">
				and attrtype = #{condition.attrtype, jdbcType=VARCHAR}
			</if>
			<if test="condition.attrfield != null">
				and attrfield = #{condition.attrfield, jdbcType=INTEGER}
			</if>
			<if test="condition.unlockflag != null and condition.unlockflag != ''">
				and unlockflag = #{condition.unlockflag, jdbcType=VARCHAR}
			</if>
			<if test="condition.extralact != null and condition.extralact != ''">
				and extralact = #{condition.extralact, jdbcType=VARCHAR}
			</if>
			<if test="condition.extraltype != null and condition.extraltype != ''">
				and extraltype = #{condition.extraltype, jdbcType=VARCHAR}
			</if>
			<if test="condition.extralmin != null">
				and extralmin = #{condition.extralmin, jdbcType=DOUBLE}
			</if>
			<if test="condition.extralmax != null">
				and extralmax = #{condition.extralmax, jdbcType=DOUBLE}
			</if>
			<if test="condition.initval != null">
				and initval = #{condition.initval, jdbcType=DOUBLE}
			</if>
			<if test="condition.upval != null">
				and upval = #{condition.upval, jdbcType=DOUBLE}
			</if>
			<if test="condition.position != null and condition.position != ''">
				and position = #{condition.position, jdbcType=VARCHAR}
			</if>
		</where>
	</sql>

	<sql id="orderby_list">
        <if test="orderByClause != null and orderByClause != ''">
            order by ${orderByClause}
        </if>
	</sql>
</mapper>