<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.oversky.gurms.system.ext.dao.PageListQueryDao">

	<!-- ========================================================================================= -->
	<sql id="sysuser_column_list">
        <include refid="org.oversky.gurms.system.dao.SysUserDao.column_list"><property name="tab" value="a."/></include>
	</sql>
  
    <select id="findUsers" parameterType="org.oversky.gurms.system.entity.SysUser" resultMap="org.oversky.gurms.system.dao.SysUserDao.BaseResultMap">
        select <include refid="sysuser_column_list"/>
          from sys_user a
		<where>
			<if test="unioncode != null and unioncode != ''">
				and a.unioncode = #{unioncode}
			</if>
			<if test="status != null and status != ''">
				and a.status = #{status}
			</if>
			<if test="username != null and username != ''">
				<bind name="_username" value="'%' + username + '%'"/>
				and a.username like #{_username}
			</if>
			<if test="mobileno != null and mobileno != ''">
				and a.mobileno like CONCAT('%',#{mobileno},'%')
			</if>
		</where>
    </select>
  
	<!-- ========================================================================================= -->
	<sql id="sysrole_column_list">
        <include refid="org.oversky.gurms.system.dao.SysRoleDao.column_list"><property name="tab" value="a."/></include>
	</sql>
  
    <select id="findRoles" parameterType="org.oversky.gurms.system.entity.SysRole" resultMap="org.oversky.gurms.system.dao.SysRoleDao.BaseResultMap">
        select <include refid="sysrole_column_list"/>
          from sys_role a
		<where>
			<if test="unioncode != null and unioncode != ''">
				and a.unioncode = #{unioncode}
			</if>
			<if test="status != null and status != ''">
				and a.status = #{status}
			</if>
			<if test="rolename != null and rolename != ''">
				<bind name="_rolename" value="'%' + rolename + '%'"/>
				and a.rolename like #{_rolename}
			</if>
			<if test="true">
				and a.roletype = '0' or (a.roletype='1' and a.creator = #{creator})
			</if>
		</where>
    </select>
  
  
	<!-- ========================================================================================= -->
    <resultMap id="sysdictbo_column_list" type="org.oversky.gurms.system.ext.bo.SysDictBO">
        <result column="unioncode" jdbcType="VARCHAR" property="unioncode" />
        <result column="dictcode" jdbcType="INTEGER" property="dictcode" />
        <result column="dictname" jdbcType="VARCHAR" property="dictname" />
        <result column="dictgroup" jdbcType="VARCHAR" property="dictgroup" />
        <result column="editflag" jdbcType="VARCHAR" property="editflag" />
        <result column="itemcode" jdbcType="VARCHAR" property="itemcode" />
        <result column="itemname" jdbcType="VARCHAR" property="itemname" />
    </resultMap>

    <select id="findDicts" parameterType="org.oversky.gurms.system.ext.bo.SysDictBO" resultMap="sysdictbo_column_list">
        select a.unioncode,a.dictcode,a.dictname,a.dictgroup,a.editflag,b.itemcode,b.itemname from sys_dict_index a, sys_dict_value b 
         where a.dictcode = b.dictcode and a.unioncode = b.unioncode
		<if test="unioncode != null and unioncode != ''">
			and a.unioncode = #{unioncode}
		</if>
		<if test="dictcode != null and dictcode != ''">
			and a.dictcode = #{dictcode}
		</if>
		<if test="dictname != null and dictname != ''">
			<bind name="_dictname" value="'%' + dictname + '%'"/>
			and a.dictname like #{_dictname}
		</if>
		order by a.unioncode, a.dictcode, b.itemcode
    </select>
    
	<!-- ========================================================================================= -->
	<sql id="sysparaminfo_column_list">
        <include refid="org.oversky.gurms.system.dao.SysParamInfoDao.column_list"><property name="tab" value="a."/></include>
	</sql>
  
    <select id="findParams" resultMap="org.oversky.gurms.system.dao.SysParamInfoDao.BaseResultMap">
        select <include refid="sysparaminfo_column_list"/>
          from sys_param_info a
         where exists (select 1 from sys_param b where a.paramid=b.paramid and b.unioncode = #{param1})
      order by a.paramid
    </select>
  
  
	<!-- ========================================================================================= -->
	<sql id="syssno_column_list">
        <include refid="org.oversky.gurms.system.dao.SysSnoDao.column_list"><property name="tab" value="a."/></include>
	</sql>
  
    <select id="findSnos" parameterType="org.oversky.gurms.system.entity.SysSno" resultMap="org.oversky.gurms.system.dao.SysSnoDao.BaseResultMap">
        select <include refid="syssno_column_list"/>
          from sys_sno a
		<where>
			<if test="unioncode != null and unioncode != ''">
				and a.unioncode = #{unioncode}
			</if>
			<if test="noid != null">
				and a.noid = #{noid}
			</if>
			<if test="noname != null and noname != ''">
				<bind name="_noname" value="'%' + noname + '%'"/>
				and a.noname like #{_noname}
			</if>
		</where>
    </select>
  
  
  
</mapper>