<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.oversky.dreamland.dao.com.ComDictDao">
    <resultMap id="BaseResultMap" type="org.oversky.dreamland.entity.com.ComDict">
        <id column="unioncode" jdbcType="VARCHAR" property="unioncode" />
        <id column="dictcode" jdbcType="INTEGER" property="dictcode" />
        <id column="itemcode" jdbcType="VARCHAR" property="itemcode" />
        <result column="dictname" jdbcType="VARCHAR" property="dictname" />
        <result column="itemvalue" jdbcType="VARCHAR" property="itemvalue" />
    </resultMap>

    <insert id="insert" parameterType="org.oversky.dreamland.entity.com.ComDict">
        insert into com_dict (<include refid="column_list"><property name="tab" value=""/></include>)
        values (#{unioncode, jdbcType=VARCHAR}, #{dictcode, jdbcType=INTEGER}, #{dictname, jdbcType=VARCHAR}, #{itemcode, jdbcType=VARCHAR}, #{itemvalue, jdbcType=VARCHAR})
    </insert>
  
	<insert id="insertBatch" parameterType="java.util.List" useGeneratedKeys="false">
		insert into com_dict (<include refid="column_list"><property name="tab" value=""/></include>) 
		values 
		<foreach item="item" index="index" collection="list" separator=",">
		(#{item.unioncode, jdbcType=VARCHAR}, #{item.dictcode, jdbcType=INTEGER}, #{item.dictname, jdbcType=VARCHAR}, #{item.itemcode, jdbcType=VARCHAR}, #{item.itemvalue, jdbcType=VARCHAR})
		</foreach>
	</insert>
	
    <select id="selectWhere" parameterType="org.oversky.dreamland.entity.com.ComDict" resultMap="BaseResultMap">
        select <include refid="column_list"><property name="tab" value=""/></include>
          from com_dict 
          <include refid="where_all_list" />
          <include refid="orderby_list" />
    </select>

    <delete id="deleteWhere" parameterType="org.oversky.dreamland.entity.com.ComDict">
        delete from com_dict 
          <include refid="where_all_list" />
    </delete>

	<select id="count" resultType="int" parameterType="org.oversky.dreamland.entity.com.ComDict">
        select count(1) from com_dict <include refid="where_all_list" />
	</select>

    <select id="selectAll" resultMap="BaseResultMap">
        select <include refid="column_list"><property name="tab" value=""/></include>
          from com_dict
          <include refid="orderby_list" />
    </select>

    <select id="getById" resultMap="BaseResultMap">
        select <include refid="column_list"><property name="tab" value=""/></include>
          from com_dict
         where unioncode = #{param1} and dictcode = #{param2} and itemcode = #{param3}
    </select>

    <delete id="deleteById">
        delete from com_dict
         where unioncode = #{param1} and dictcode = #{param2} and itemcode = #{param3}
    </delete>
  
    <update id="updateById" parameterType="org.oversky.dreamland.entity.com.ComDict">
        update com_dict set 
               dictname = #{dictname, jdbcType=VARCHAR}, 
               itemvalue = #{itemvalue, jdbcType=VARCHAR}
		where unioncode = #{unioncode, jdbcType=VARCHAR} and dictcode = #{dictcode, jdbcType=INTEGER} and itemcode = #{itemcode, jdbcType=VARCHAR}
    </update>

	<update id="dynamicUpdateById" parameterType="org.oversky.dreamland.entity.com.ComDict">
		update com_dict
		<set>
		    <if test="dictname != null">
				dictname = #{dictname, jdbcType=VARCHAR},
		    </if>
		    <if test="itemvalue != null">
				itemvalue = #{itemvalue, jdbcType=VARCHAR},
		    </if>
		</set>
		where unioncode = #{unioncode, jdbcType=VARCHAR} and dictcode = #{dictcode, jdbcType=INTEGER} and itemcode = #{itemcode, jdbcType=VARCHAR}
	</update>

	<update id="dynamicUpdateWhere" parameterType="map">
		update com_dict
		<set>
		    <if test="field.dictname != null and field.dictname != ''">
				dictname = #{field.dictname, jdbcType=VARCHAR},
		    </if>
		    <if test="field.itemvalue != null and field.itemvalue != ''">
				itemvalue = #{field.itemvalue, jdbcType=VARCHAR},
		    </if>
		</set>
        <include refid="where_all_list_criteria" />
	</update>


	<sql id="column_list">
        ${tab}unioncode, ${tab}dictcode, ${tab}dictname, ${tab}itemcode, ${tab}itemvalue
	</sql>
	
	<sql id="where_all_list">
		<where>
			<if test="unioncode != null and unioncode != ''">
				and unioncode = #{unioncode, jdbcType=VARCHAR}
			</if>
			<if test="dictcode != null">
				and dictcode = #{dictcode, jdbcType=INTEGER}
			</if>
			<if test="dictname != null and dictname != ''">
				and dictname = #{dictname, jdbcType=VARCHAR}
			</if>
			<if test="itemcode != null and itemcode != ''">
				and itemcode = #{itemcode, jdbcType=VARCHAR}
			</if>
			<if test="itemvalue != null and itemvalue != ''">
				and itemvalue = #{itemvalue, jdbcType=VARCHAR}
			</if>
		</where>
	</sql>

	<sql id="where_all_list_criteria">
		<where>
			<if test="condition.unioncode != null and condition.unioncode != ''">
				and unioncode = #{condition.unioncode, jdbcType=VARCHAR}
			</if>
			<if test="condition.dictcode != null">
				and dictcode = #{condition.dictcode, jdbcType=INTEGER}
			</if>
			<if test="condition.dictname != null and condition.dictname != ''">
				and dictname = #{condition.dictname, jdbcType=VARCHAR}
			</if>
			<if test="condition.itemcode != null and condition.itemcode != ''">
				and itemcode = #{condition.itemcode, jdbcType=VARCHAR}
			</if>
			<if test="condition.itemvalue != null and condition.itemvalue != ''">
				and itemvalue = #{condition.itemvalue, jdbcType=VARCHAR}
			</if>
		</where>
	</sql>

	<sql id="orderby_list">
        <if test="orderByClause != null and orderByClause != ''">
            order by ${orderByClause}
        </if>
	</sql>
</mapper>