<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.oversky.dreamland.dao.com.ComDictDao">
    <resultMap id="BaseResultMap" type="org.oversky.dreamland.entity.com.ComDict">
        <id column="dictcode" jdbcType="INTEGER" property="dictcode" />
        <id column="itemcode" jdbcType="VARCHAR" property="itemcode" />
        <result column="itemname" jdbcType="VARCHAR" property="itemname" />
    </resultMap>

    <insert id="insert" parameterType="org.oversky.dreamland.entity.com.ComDict">
        insert into com_dict (<include refid="column_list"><property name="tab" value=""/></include>)
        values (#{dictcode, jdbcType=INTEGER}, #{itemcode, jdbcType=VARCHAR}, #{itemname, jdbcType=VARCHAR})
    </insert>
  
	<insert id="insertBatch" parameterType="java.util.List" useGeneratedKeys="false">
		insert into com_dict (<include refid="column_list"><property name="tab" value=""/></include>) 
		values 
		<foreach item="item" index="index" collection="list" separator=",">
		(#{item.dictcode, jdbcType=INTEGER}, #{item.itemcode, jdbcType=VARCHAR}, #{item.itemname, jdbcType=VARCHAR})
		</foreach>
	</insert>
	
    <select id="selectWhere" parameterType="org.oversky.dreamland.entity.com.ComDict" resultMap="BaseResultMap">
        select <include refid="column_list"><property name="tab" value=""/></include>
          from com_dict 
          <include refid="where_all_list" />
          <include refid="orderby_list" />
    </select>

    <delete id="deleteWhere" parameterType="org.oversky.dreamland.entity.com.ComDict">
        delete from com_dict 
          <include refid="where_all_list" />
    </delete>

	<select id="count" resultType="int" parameterType="org.oversky.dreamland.entity.com.ComDict">
        select count(1) from com_dict <include refid="where_all_list" />
	</select>

    <select id="selectAll" resultMap="BaseResultMap">
        select <include refid="column_list"><property name="tab" value=""/></include>
          from com_dict
          <include refid="orderby_list" />
    </select>

    <select id="getById" resultMap="BaseResultMap">
        select <include refid="column_list"><property name="tab" value=""/></include>
          from com_dict
         where dictcode = #{param1} and itemcode = #{param2}
    </select>

    <delete id="deleteById">
        delete from com_dict
         where dictcode = #{param1} and itemcode = #{param2}
    </delete>
  
    <update id="updateById" parameterType="org.oversky.dreamland.entity.com.ComDict">
        update com_dict set 
               itemname = #{itemname, jdbcType=VARCHAR}
		where dictcode = #{dictcode, jdbcType=INTEGER} and itemcode = #{itemcode, jdbcType=VARCHAR}
    </update>

	<update id="dynamicUpdateById" parameterType="org.oversky.dreamland.entity.com.ComDict">
		update com_dict
		<set>
		    <if test="itemname != null">
				itemname = #{itemname, jdbcType=VARCHAR},
		    </if>
		</set>
		where dictcode = #{dictcode, jdbcType=INTEGER} and itemcode = #{itemcode, jdbcType=VARCHAR}
	</update>

	<update id="dynamicUpdateWhere" parameterType="map">
		update com_dict
		<set>
		    <if test="field.itemname != null and field.itemname != ''">
				itemname = #{field.itemname, jdbcType=VARCHAR},
		    </if>
		</set>
        <include refid="where_all_list_criteria" />
	</update>


	<sql id="column_list">
        ${tab}dictcode, ${tab}itemcode, ${tab}itemname
	</sql>
	
	<sql id="where_all_list">
		<where>
			<if test="dictcode != null">
				and dictcode = #{dictcode, jdbcType=INTEGER}
			</if>
			<if test="itemcode != null and itemcode != ''">
				and itemcode = #{itemcode, jdbcType=VARCHAR}
			</if>
			<if test="itemname != null and itemname != ''">
				and itemname = #{itemname, jdbcType=VARCHAR}
			</if>
		</where>
	</sql>

	<sql id="where_all_list_criteria">
		<where>
			<if test="condition.dictcode != null">
				and dictcode = #{condition.dictcode, jdbcType=INTEGER}
			</if>
			<if test="condition.itemcode != null and condition.itemcode != ''">
				and itemcode = #{condition.itemcode, jdbcType=VARCHAR}
			</if>
			<if test="condition.itemname != null and condition.itemname != ''">
				and itemname = #{condition.itemname, jdbcType=VARCHAR}
			</if>
		</where>
	</sql>

	<sql id="orderby_list">
        <if test="orderByClause != null and orderByClause != ''">
            order by ${orderByClause}
        </if>
	</sql>
</mapper>