<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.oversky.dreamland.dao.com.ComMqTransactionLogDao">
    <resultMap id="BaseResultMap" type="org.oversky.dreamland.entity.com.ComMqTransactionLog">
        <id column="logid" jdbcType="DECIMAL" property="logid" />
        <result column="transaction_id" jdbcType="VARCHAR" property="transactionId" />
        <result column="busi_type" jdbcType="VARCHAR" property="busiType" />
        <result column="busi_id" jdbcType="VARCHAR" property="busiId" />
        <result column="sender" jdbcType="VARCHAR" property="sender" />
        <result column="receiver" jdbcType="VARCHAR" property="receiver" />
    </resultMap>

    <insert id="insert" parameterType="org.oversky.dreamland.entity.com.ComMqTransactionLog" useGeneratedKeys="true" keyProperty="logid">
        insert into com_mq_transaction_log (transaction_id, busi_type, busi_id, sender, receiver)
        values (#{transactionId, jdbcType=VARCHAR}, #{busiType, jdbcType=VARCHAR}, #{busiId, jdbcType=VARCHAR}, #{sender, jdbcType=VARCHAR}, #{receiver, jdbcType=VARCHAR})
    </insert>
  
	<insert id="insertBatch" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="logid">
		insert into com_mq_transaction_log (transaction_id, busi_type, busi_id, sender, receiver)
		values 
		<foreach item="item" index="index" collection="list" separator=",">
        (#{item.transactionId, jdbcType=VARCHAR}, #{item.busiType, jdbcType=VARCHAR}, #{item.busiId, jdbcType=VARCHAR}, #{item.sender, jdbcType=VARCHAR}, #{item.receiver, jdbcType=VARCHAR})
		</foreach>
	</insert>
	
    <select id="selectWhere" parameterType="org.oversky.dreamland.entity.com.ComMqTransactionLog" resultMap="BaseResultMap">
        select <include refid="column_list"><property name="tab" value=""/></include>
          from com_mq_transaction_log 
          <include refid="where_all_list" />
          <include refid="orderby_list" />
    </select>

    <delete id="deleteWhere" parameterType="org.oversky.dreamland.entity.com.ComMqTransactionLog">
        delete from com_mq_transaction_log 
          <include refid="where_all_list" />
    </delete>

	<select id="count" resultType="int" parameterType="org.oversky.dreamland.entity.com.ComMqTransactionLog">
        select count(1) from com_mq_transaction_log <include refid="where_all_list" />
	</select>

    <select id="selectAll" resultMap="BaseResultMap">
        select <include refid="column_list"><property name="tab" value=""/></include>
          from com_mq_transaction_log
          <include refid="orderby_list" />
    </select>

    <select id="getById" resultMap="BaseResultMap">
        select <include refid="column_list"><property name="tab" value=""/></include>
          from com_mq_transaction_log
         where logid = #{param1}
    </select>

    <delete id="deleteById">
        delete from com_mq_transaction_log
         where logid = #{param1}
    </delete>
  
    <update id="updateById" parameterType="org.oversky.dreamland.entity.com.ComMqTransactionLog">
        update com_mq_transaction_log set 
               transaction_id = #{transactionId, jdbcType=VARCHAR}, 
               busi_type = #{busiType, jdbcType=VARCHAR}, 
               busi_id = #{busiId, jdbcType=VARCHAR}, 
               sender = #{sender, jdbcType=VARCHAR}, 
               receiver = #{receiver, jdbcType=VARCHAR}
		where logid = #{logid, jdbcType=DECIMAL}
    </update>

	<update id="dynamicUpdateById" parameterType="org.oversky.dreamland.entity.com.ComMqTransactionLog">
		update com_mq_transaction_log
		<set>
		    <if test="transactionId != null">
				transaction_id = #{transactionId, jdbcType=VARCHAR},
		    </if>
		    <if test="busiType != null">
				busi_type = #{busiType, jdbcType=VARCHAR},
		    </if>
		    <if test="busiId != null">
				busi_id = #{busiId, jdbcType=VARCHAR},
		    </if>
		    <if test="sender != null">
				sender = #{sender, jdbcType=VARCHAR},
		    </if>
		    <if test="receiver != null">
				receiver = #{receiver, jdbcType=VARCHAR},
		    </if>
		</set>
		where logid = #{logid, jdbcType=DECIMAL}
	</update>

	<update id="dynamicUpdateWhere" parameterType="map">
		update com_mq_transaction_log
		<set>
		    <if test="field.transactionId != null and field.transactionId != ''">
				transaction_id = #{field.transactionId, jdbcType=VARCHAR},
		    </if>
		    <if test="field.busiType != null and field.busiType != ''">
				busi_type = #{field.busiType, jdbcType=VARCHAR},
		    </if>
		    <if test="field.busiId != null and field.busiId != ''">
				busi_id = #{field.busiId, jdbcType=VARCHAR},
		    </if>
		    <if test="field.sender != null and field.sender != ''">
				sender = #{field.sender, jdbcType=VARCHAR},
		    </if>
		    <if test="field.receiver != null and field.receiver != ''">
				receiver = #{field.receiver, jdbcType=VARCHAR},
		    </if>
		</set>
        <include refid="where_all_list_criteria" />
	</update>

	<update id="updateBatch" parameterType="java.util.List">
	    update com_mq_transaction_log
	    <trim prefix="set" suffixOverrides=",">	
	        <trim prefix="transaction_id = case" suffix="end,">
	            <foreach collection="list" item="item" index="index">
	                <if test="item.transactionId != null">
	                    when logid = #{item.logid} then #{item.transactionId, jdbcType=VARCHAR}
	                </if>
	                <if test="item.transactionId == null">
	                    when logid = #{item.logid} then transaction_id
	                </if>
	            </foreach>
	        </trim>
	        <trim prefix="busi_type = case" suffix="end,">
	            <foreach collection="list" item="item" index="index">
	                <if test="item.busiType != null">
	                    when logid = #{item.logid} then #{item.busiType, jdbcType=VARCHAR}
	                </if>
	                <if test="item.busiType == null">
	                    when logid = #{item.logid} then busi_type
	                </if>
	            </foreach>
	        </trim>
	        <trim prefix="busi_id = case" suffix="end,">
	            <foreach collection="list" item="item" index="index">
	                <if test="item.busiId != null">
	                    when logid = #{item.logid} then #{item.busiId, jdbcType=VARCHAR}
	                </if>
	                <if test="item.busiId == null">
	                    when logid = #{item.logid} then busi_id
	                </if>
	            </foreach>
	        </trim>
	        <trim prefix="sender = case" suffix="end,">
	            <foreach collection="list" item="item" index="index">
	                <if test="item.sender != null">
	                    when logid = #{item.logid} then #{item.sender, jdbcType=VARCHAR}
	                </if>
	                <if test="item.sender == null">
	                    when logid = #{item.logid} then sender
	                </if>
	            </foreach>
	        </trim>
	        <trim prefix="receiver = case" suffix="end,">
	            <foreach collection="list" item="item" index="index">
	                <if test="item.receiver != null">
	                    when logid = #{item.logid} then #{item.receiver, jdbcType=VARCHAR}
	                </if>
	                <if test="item.receiver == null">
	                    when logid = #{item.logid} then receiver
	                </if>
	            </foreach>
	        </trim>
	    </trim>
	    where logid in
	    <foreach collection="list" index="index" item="item" separator="," open="(" close=")">
	        #{item.logid}
	    </foreach>
	</update>
	
	<delete id="deleteBatch">
	    delete from com_mq_transaction_log
	     where logid in
	    <foreach collection="array" item="id" separator="," open="(" close=")">
	        #{id}
	    </foreach>
	</delete>

	<sql id="column_list">
        ${tab}logid, ${tab}transaction_id, ${tab}busi_type, ${tab}busi_id, ${tab}sender, ${tab}receiver
	</sql>
	
	<sql id="where_all_list">
		<where>
			<if test="logid != null">
				and logid = #{logid, jdbcType=DECIMAL}
			</if>
			<if test="transactionId != null and transactionId != ''">
				and transaction_id = #{transactionId, jdbcType=VARCHAR}
			</if>
			<if test="busiType != null and busiType != ''">
				and busi_type = #{busiType, jdbcType=VARCHAR}
			</if>
			<if test="busiId != null and busiId != ''">
				and busi_id = #{busiId, jdbcType=VARCHAR}
			</if>
			<if test="sender != null and sender != ''">
				and sender = #{sender, jdbcType=VARCHAR}
			</if>
			<if test="receiver != null and receiver != ''">
				and receiver = #{receiver, jdbcType=VARCHAR}
			</if>
		</where>
	</sql>

	<sql id="where_all_list_criteria">
		<where>
			<if test="condition.logid != null">
				and logid = #{condition.logid, jdbcType=DECIMAL}
			</if>
			<if test="condition.transactionId != null and condition.transactionId != ''">
				and transaction_id = #{condition.transactionId, jdbcType=VARCHAR}
			</if>
			<if test="condition.busiType != null and condition.busiType != ''">
				and busi_type = #{condition.busiType, jdbcType=VARCHAR}
			</if>
			<if test="condition.busiId != null and condition.busiId != ''">
				and busi_id = #{condition.busiId, jdbcType=VARCHAR}
			</if>
			<if test="condition.sender != null and condition.sender != ''">
				and sender = #{condition.sender, jdbcType=VARCHAR}
			</if>
			<if test="condition.receiver != null and condition.receiver != ''">
				and receiver = #{condition.receiver, jdbcType=VARCHAR}
			</if>
		</where>
	</sql>

	<sql id="orderby_list">
        <if test="orderByClause != null and orderByClause != ''">
            order by ${orderByClause}
        </if>
	</sql>
</mapper>