<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.oversky.dreamland.dao.server.ServerMsgSendDao">
    <resultMap id="BaseResultMap" type="org.oversky.dreamland.entity.server.ServerMsgSend">
        <id column="msgid" jdbcType="DECIMAL" property="msgid" />
        <result column="serverid" jdbcType="VARCHAR" property="serverid" />
        <result column="custno" jdbcType="DECIMAL" property="custno" />
        <result column="content" jdbcType="VARCHAR" property="content" />
        <result column="msgtype" jdbcType="VARCHAR" property="msgtype" />
        <result column="receiver" jdbcType="DECIMAL" property="receiver" />
        <result column="senddate" jdbcType="VARCHAR" property="senddate" />
        <result column="sendtime" jdbcType="VARCHAR" property="sendtime" />
    </resultMap>

    <insert id="insert" parameterType="org.oversky.dreamland.entity.server.ServerMsgSend">
        insert into server_msg_send (<include refid="column_list"><property name="tab" value=""/></include>)
        values (#{msgid, jdbcType=DECIMAL}, #{serverid, jdbcType=VARCHAR}, #{custno, jdbcType=DECIMAL}, #{content, jdbcType=VARCHAR}, #{msgtype, jdbcType=VARCHAR}, #{receiver, jdbcType=DECIMAL}, #{senddate, jdbcType=VARCHAR}, #{sendtime, jdbcType=VARCHAR})
    </insert>
  
	<insert id="insertBatch" parameterType="java.util.List" useGeneratedKeys="false">
		insert into server_msg_send (<include refid="column_list"><property name="tab" value=""/></include>) 
		values 
		<foreach item="item" index="index" collection="list" separator=",">
		(#{item.msgid, jdbcType=DECIMAL}, #{item.serverid, jdbcType=VARCHAR}, #{item.custno, jdbcType=DECIMAL}, #{item.content, jdbcType=VARCHAR}, #{item.msgtype, jdbcType=VARCHAR}, #{item.receiver, jdbcType=DECIMAL}, #{item.senddate, jdbcType=VARCHAR}, #{item.sendtime, jdbcType=VARCHAR})
		</foreach>
	</insert>
	
    <select id="selectWhere" parameterType="org.oversky.dreamland.entity.server.ServerMsgSend" resultMap="BaseResultMap">
        select <include refid="column_list"><property name="tab" value=""/></include>
          from server_msg_send 
          <include refid="where_all_list" />
          <include refid="orderby_list" />
    </select>

    <delete id="deleteWhere" parameterType="org.oversky.dreamland.entity.server.ServerMsgSend">
        delete from server_msg_send 
          <include refid="where_all_list" />
    </delete>

	<select id="count" resultType="int" parameterType="org.oversky.dreamland.entity.server.ServerMsgSend">
        select count(1) from server_msg_send <include refid="where_all_list" />
	</select>

    <select id="selectAll" resultMap="BaseResultMap">
        select <include refid="column_list"><property name="tab" value=""/></include>
          from server_msg_send
          <include refid="orderby_list" />
    </select>

    <select id="getById" resultMap="BaseResultMap">
        select <include refid="column_list"><property name="tab" value=""/></include>
          from server_msg_send
         where msgid = #{param1}
    </select>

    <delete id="deleteById">
        delete from server_msg_send
         where msgid = #{param1}
    </delete>
  
    <update id="updateById" parameterType="org.oversky.dreamland.entity.server.ServerMsgSend">
        update server_msg_send set 
               serverid = #{serverid, jdbcType=VARCHAR}, 
               custno = #{custno, jdbcType=DECIMAL}, 
               content = #{content, jdbcType=VARCHAR}, 
               msgtype = #{msgtype, jdbcType=VARCHAR}, 
               receiver = #{receiver, jdbcType=DECIMAL}, 
               senddate = #{senddate, jdbcType=VARCHAR}, 
               sendtime = #{sendtime, jdbcType=VARCHAR}
		where msgid = #{msgid, jdbcType=DECIMAL}
    </update>

	<update id="dynamicUpdateById" parameterType="org.oversky.dreamland.entity.server.ServerMsgSend">
		update server_msg_send
		<set>
		    <if test="serverid != null">
				serverid = #{serverid, jdbcType=VARCHAR},
		    </if>
		    <if test="custno != null">
				custno = #{custno, jdbcType=DECIMAL},
		    </if>
		    <if test="content != null">
				content = #{content, jdbcType=VARCHAR},
		    </if>
		    <if test="msgtype != null">
				msgtype = #{msgtype, jdbcType=VARCHAR},
		    </if>
		    <if test="receiver != null">
				receiver = #{receiver, jdbcType=DECIMAL},
		    </if>
		    <if test="senddate != null">
				senddate = #{senddate, jdbcType=VARCHAR},
		    </if>
		    <if test="sendtime != null">
				sendtime = #{sendtime, jdbcType=VARCHAR},
		    </if>
		</set>
		where msgid = #{msgid, jdbcType=DECIMAL}
	</update>

	<update id="dynamicUpdateWhere" parameterType="map">
		update server_msg_send
		<set>
		    <if test="field.serverid != null and field.serverid != ''">
				serverid = #{field.serverid, jdbcType=VARCHAR},
		    </if>
		    <if test="field.custno != null">
				custno = #{field.custno, jdbcType=DECIMAL},
		    </if>
		    <if test="field.content != null and field.content != ''">
				content = #{field.content, jdbcType=VARCHAR},
		    </if>
		    <if test="field.msgtype != null and field.msgtype != ''">
				msgtype = #{field.msgtype, jdbcType=VARCHAR},
		    </if>
		    <if test="field.receiver != null">
				receiver = #{field.receiver, jdbcType=DECIMAL},
		    </if>
		    <if test="field.senddate != null and field.senddate != ''">
				senddate = #{field.senddate, jdbcType=VARCHAR},
		    </if>
		    <if test="field.sendtime != null and field.sendtime != ''">
				sendtime = #{field.sendtime, jdbcType=VARCHAR},
		    </if>
		</set>
        <include refid="where_all_list_criteria" />
	</update>

	<update id="updateBatch" parameterType="java.util.List">
	    update server_msg_send
	    <trim prefix="set" suffixOverrides=",">	
	        <trim prefix="serverid = case" suffix="end,">
	            <foreach collection="list" item="item" index="index">
	                <if test="item.serverid != null">
	                    when msgid = #{item.msgid} then #{item.serverid, jdbcType=VARCHAR}
	                </if>
	                <if test="item.serverid == null">
	                    when msgid = #{item.msgid} then serverid
	                </if>
	            </foreach>
	        </trim>
	        <trim prefix="custno = case" suffix="end,">
	            <foreach collection="list" item="item" index="index">
	                <if test="item.custno != null">
	                    when msgid = #{item.msgid} then #{item.custno, jdbcType=DECIMAL}
	                </if>
	                <if test="item.custno == null">
	                    when msgid = #{item.msgid} then custno
	                </if>
	            </foreach>
	        </trim>
	        <trim prefix="content = case" suffix="end,">
	            <foreach collection="list" item="item" index="index">
	                <if test="item.content != null">
	                    when msgid = #{item.msgid} then #{item.content, jdbcType=VARCHAR}
	                </if>
	                <if test="item.content == null">
	                    when msgid = #{item.msgid} then content
	                </if>
	            </foreach>
	        </trim>
	        <trim prefix="msgtype = case" suffix="end,">
	            <foreach collection="list" item="item" index="index">
	                <if test="item.msgtype != null">
	                    when msgid = #{item.msgid} then #{item.msgtype, jdbcType=VARCHAR}
	                </if>
	                <if test="item.msgtype == null">
	                    when msgid = #{item.msgid} then msgtype
	                </if>
	            </foreach>
	        </trim>
	        <trim prefix="receiver = case" suffix="end,">
	            <foreach collection="list" item="item" index="index">
	                <if test="item.receiver != null">
	                    when msgid = #{item.msgid} then #{item.receiver, jdbcType=DECIMAL}
	                </if>
	                <if test="item.receiver == null">
	                    when msgid = #{item.msgid} then receiver
	                </if>
	            </foreach>
	        </trim>
	        <trim prefix="senddate = case" suffix="end,">
	            <foreach collection="list" item="item" index="index">
	                <if test="item.senddate != null">
	                    when msgid = #{item.msgid} then #{item.senddate, jdbcType=VARCHAR}
	                </if>
	                <if test="item.senddate == null">
	                    when msgid = #{item.msgid} then senddate
	                </if>
	            </foreach>
	        </trim>
	        <trim prefix="sendtime = case" suffix="end,">
	            <foreach collection="list" item="item" index="index">
	                <if test="item.sendtime != null">
	                    when msgid = #{item.msgid} then #{item.sendtime, jdbcType=VARCHAR}
	                </if>
	                <if test="item.sendtime == null">
	                    when msgid = #{item.msgid} then sendtime
	                </if>
	            </foreach>
	        </trim>
	    </trim>
	    where msgid in
	    <foreach collection="list" index="index" item="item" separator="," open="(" close=")">
	        #{item.msgid}
	    </foreach>
	</update>
	
	<delete id="deleteBatch">
	    delete from server_msg_send
	     where msgid in
	    <foreach collection="array" item="id" separator="," open="(" close=")">
	        #{id}
	    </foreach>
	</delete>

	<sql id="column_list">
        ${tab}msgid, ${tab}serverid, ${tab}custno, ${tab}content, ${tab}msgtype, ${tab}receiver, ${tab}senddate, ${tab}sendtime
	</sql>
	
	<sql id="where_all_list">
		<where>
			<if test="msgid != null">
				and msgid = #{msgid, jdbcType=DECIMAL}
			</if>
			<if test="serverid != null and serverid != ''">
				and serverid = #{serverid, jdbcType=VARCHAR}
			</if>
			<if test="custno != null">
				and custno = #{custno, jdbcType=DECIMAL}
			</if>
			<if test="content != null and content != ''">
				and content = #{content, jdbcType=VARCHAR}
			</if>
			<if test="msgtype != null and msgtype != ''">
				and msgtype = #{msgtype, jdbcType=VARCHAR}
			</if>
			<if test="receiver != null">
				and receiver = #{receiver, jdbcType=DECIMAL}
			</if>
			<if test="senddate != null and senddate != ''">
				and senddate = #{senddate, jdbcType=VARCHAR}
			</if>
			<if test="sendtime != null and sendtime != ''">
				and sendtime = #{sendtime, jdbcType=VARCHAR}
			</if>
		</where>
	</sql>

	<sql id="where_all_list_criteria">
		<where>
			<if test="condition.msgid != null">
				and msgid = #{condition.msgid, jdbcType=DECIMAL}
			</if>
			<if test="condition.serverid != null and condition.serverid != ''">
				and serverid = #{condition.serverid, jdbcType=VARCHAR}
			</if>
			<if test="condition.custno != null">
				and custno = #{condition.custno, jdbcType=DECIMAL}
			</if>
			<if test="condition.content != null and condition.content != ''">
				and content = #{condition.content, jdbcType=VARCHAR}
			</if>
			<if test="condition.msgtype != null and condition.msgtype != ''">
				and msgtype = #{condition.msgtype, jdbcType=VARCHAR}
			</if>
			<if test="condition.receiver != null">
				and receiver = #{condition.receiver, jdbcType=DECIMAL}
			</if>
			<if test="condition.senddate != null and condition.senddate != ''">
				and senddate = #{condition.senddate, jdbcType=VARCHAR}
			</if>
			<if test="condition.sendtime != null and condition.sendtime != ''">
				and sendtime = #{condition.sendtime, jdbcType=VARCHAR}
			</if>
		</where>
	</sql>

	<sql id="orderby_list">
        <if test="orderByClause != null and orderByClause != ''">
            order by ${orderByClause}
        </if>
	</sql>
</mapper>